[2015-04-06 15:29] echristi opened #1 "Scipy 0.15 not working with SVD"
FYI - I couldn't not get parameter identifiability to work when running with Scipy 0.15.  Rolling back to 0.14 worked.  In the error_variance_example notebook it would fail on the first code line under parameter identifiability.  It appeared to be an issue with la.svd, "LAPACK function dgesdd_lwork could not be found"

[2015-04-06 16:34] jtwhite79 commented on #1
Seems like this is might be related to switch in Scipy from linpack_lite to lapack...Which version of Scipy - 0.15.X?  I tested it with Scipy 0.15.1 and the ```scipy.linalg.svd()``` routine completes without any problems.

[2015-04-06 17:51] echristi commented on #1
It was Scipy 0.15.1,  updated when I updated anaconda.

[2015-04-06 18:50] jtwhite79 commented on #1
I've tested the error_variance_example notebook with 0.15.1 (installed with miniconda) on both mac and windows without trouble.  Can import the ```scipy.linalg``` module and try the SVD on a generic ```numpy.ndarray```?

[2016-01-07 17:42] mnfienen opened #5 "pst_handler and tied parameters"
the pst_handler class doesn't handle tied parameters

[2016-01-07 17:50] mnfienen opened #6 "numbering of pst and par files"
I was going to change this myself and do a pull request, but wasn't sure how deep the implications are:

when writing out multiple pest control files with `write_psts` method of a `MonteCarlo` object, numbering starts at 0.

but....when wither writing out individual par files with `parensemble.to_parfiles` or a big csv file with `parensemble.to_csv`, numering starts at 1. In the code for `to_parfi

[2016-01-07 20:40] jtwhite79 commented on #6
great point.  I've sync'd the par and pst file naming so that everything starts at 0 with any zero padding...should help with condor

[2016-01-07 20:40] #6 closed

[2016-01-07 20:58] mnfienen commented on #6
Killer! Thanks!

[2016-01-07 22:25] jtwhite79 commented on #5
Fixed the bug in Pst.get().  Also made the tied info into a dataframe now also. Thanks Mike!

[2016-01-07 22:25] #5 closed

[2016-02-10 14:59] mnfienen opened #9 "obslist_dict"
Thinking of a tiny refactor for the data/parameter importance methods. One of the optional inputs is the `obslist_dict`. But, since this is typically a dictionary with a list as the keys and the values, I suggest allowing users to supply only the list and then make the dict internally. If so, it would make sense to change the input arg from `obslist_dict` to `obslist` and similarly `parlist_dict`

[2016-02-10 15:38] jtwhite79 commented on #9
The reason I went with ``obslist_dict`` and ``parlist_dict`` is to try make it clear what is going on:  the keys are the names of user-defined groupings of obs or pars to test.  For example
``>>>obslist_dict['heads'] = ['head1',head2','head3']``
``>>>obslist_dict["fluxes'] = ['flux1','flux2','flux3']``
where ``['heads','fluxes']`` ends up being the index of the dataframe that is returned, with the

[2016-02-10 15:43] mnfienen commented on #9
Oh ok. That makes sense -- I just didn't grok that from the examples. Let's try to make it more explicit. In the examples we ended up with a `dict` made like `dict(zip(obslist,obslist))` which seemed redundant. Now I see the reason for that --- it was that in our example we only had a single group. I think we can just clarify it in the examples then. My implementation did the `type` check like you

[2016-02-10 15:44] jtwhite79 commented on #9
that works for me

[2016-02-23 22:45] #9 closed

[2016-02-23 22:53] mnfienen-usgs opened #14 "uniform distributions for draw"
OK - got a strange bug. I worked on it but couldn't quite sort it out....

With the new functionality to allow making a draw from either a uniform or Gaussian distribution, I hit trouble when sampling more than once.

Check out notebook `NSMCexample_freyberg.ipynb` in `examples`. If you never specify `how='uniform'` then sampling is always made as Gaussian (the default). Cool. If you specity `how=

[2016-02-24 03:35] jtwhite79 commented on #14
Looks like this is a notebook problem - if I download the notebook as a script, it runs without problems.  I try to find a way to debug in the notebook.

[2016-05-26 14:55] #14 closed

[2016-05-26 14:55] #1 closed

[2016-06-30 22:01] jbellino-usgs opened #17 "Control Data typo"
On line 17 of pst_controldata.py, the default value for `obsreref` is mis-typed as `noobsref` (should be `noobsreref`).

[2016-07-01 14:12] #17 closed

[2017-03-22 16:32] porterma opened #19 "Having trouble running the Freyberg example"
I am running the Freyberg example so I can learn to use flopy and pyemu to develop PEST calibration simulations for a project I am working on. However, I am running into an issue at line 70 in the pest_freyberg.py script (`pyemu.pst_utils.smp_to_ins(os.path.join("misc","freyberg_heads.smp"))`). This is writing a freyberg_heads.smp.ins file with the following format:
pif ~
l1 w w w  !OR00C00_020120

[2017-03-22 21:00] jtwhite79 commented on #19
Hey Porter - that script is a relic...but I think if you pass the ```gwutil_compliant=True``` arg to ```smp_to_ins``` that might get you further down the road.
I'm still working on a set of notebooks to demo how to setup templates, instructions and control file from scratch...coming soon.

[2017-03-22 22:08] porterma commented on #19
Thanks! That got me further down, but there are other issues. I'll wait
until you have a more recent example for PEST.

On Wed, Mar 22, 2017 at 3:00 PM, jtwhite79 <notifications@github.com> wrote:

--
*Mark L. Porter, PhD | Hydrologist*
Bureau of Reclamation | Pacific Northwest Region
phone: 208.378.5350 | email: mlporter@usbr.gov

[2017-04-26 21:22] Neilt100 opened #20 "Issue with calculating correlation coefficients from Covariance matrix"
Hi,

I've been trying to use the    to_person    method to convert a covariance matrix (from a jco file) to a correlation coefficient matrix, but I get an error:  ''''assert not self.isdiagonal''''.

The covariance matrix I'm passing is diagonal (167 x 167).  Are there some methods within pyemu to correctly convert the covariance matrix so that it can be used by the to_pearson method?  Apologies i

[2017-04-27 01:29] jtwhite79 commented on #20
So the Pearson coef between any row-col pair in a covariance matrix is related to the covariate between the row col - the off diagonal value at index (row-1,col-1).  Since your covariance matrix is diagonal, there no nonzero off diagonals...so nothing to calculate. Does that make sense?

[2017-04-27 01:47] Neilt100 commented on #20
Yes, that does make sense.  As I gradually understand it more, pyemu is becoming a much appreciated resource. Thanks.

[2017-04-27 01:47] #20 closed

[2017-06-13 05:24] katherbreen opened #22 "Tied/fixed parameter and data worth analysis issues"
I'm having difficulty running through the Schurexample_Freyberg.ipynb code with my own data.  The problems seem to be related to having tied or fixed parameters when calling 1) get_par_group_contribution() or 2) get_removed_obs_importance() on the Schur class.

Also, I have a general question.  I'm performing a data worth analysis on output data from a hydrologic model run in a data-poor system.

[2017-06-14 16:50] jtwhite79 commented on #22
So it looks like you have no non-zero weight observations, which shouldn't be a problem from the implementation - you need to set the ``reset_zero_weight`` flag in the call to ``Schur.get_removed_obs_importance()`` (you also found a bug in this case where the forecasts were getting roped in as observations - just pushed a fix for this).  The ``reset_zero_weight`` flag will do just what it says, so

[2017-06-20 19:15] katherbreen commented on #22
Thank you for your suggestions, and for your thoughtful response.  Very helpful.

[2017-06-21 16:01] katherbreen commented on #22
I tested your suggestions on a subset of data with no fixed parameters, but when I reapplied to the full data set the same issues persisted.  I removed tied parameters, but I'm still having trouble using fixed parameters with get_par_contribution(), which gives me the error pasted below.  I think the error is coming up because fixed parameters are mistakenly not being excluded from the analysis, c

[2017-06-21 19:21] jtwhite79 commented on #22
I think the issue with get_par_group_contribution() has been fixed in the develop branch.  line 314 of your code (above) has been replaced with a list comprehension that is only using parameter names that are in the jacobian.

Can you elaborate or show some code/output for the get_removed_obs_importance() so I can understand the issue a little better?

[2017-06-21 20:03] katherbreen commented on #22
No problem - below is an example of the error output
[pyEMU_test_KBreen.zip](https://github.com/jtwhite79/pyemu/files/1092730/pyEMU_test_KBreen.zip)

[2017-06-21 20:12] katherbreen commented on #22
No problem - below is an example of the errors.
[pyEMU_test_KBreen2.zip](https://github.com/jtwhite79/pyemu/files/1092748/pyEMU_test_KBreen2.zip)

[2017-06-21 22:48] jtwhite79 commented on #22
ok - I think found the problem.  Forecasts need to have zero weight in the control file (conceptually they shouldn't be used for history matching as they are "unknown).  A few of yours had non-zero weight that was causing issues in the data worth part for selecting weights to reset and then selecting the "conditional instance".  So now there is a check in the constructor routines that forecasts mu

[2017-06-22 19:47] katherbreen commented on #22
Thanks for catching that!  I think the fix is helpful.  I knew my first forecast weight was set to zero, so the problem wasn't obvious, but it's much clearer with the fix.

I'm still having trouble with get_par_group_contribution().  The function now throws an error message that the control file is not available, even when it is successfully loaded by the Schur class
[pyEMU_test_KBreen3.zip](https

[2017-06-22 22:00] jtwhite79 commented on #22
So I jumped the gun on checking for forecasts with non-zero weight - sometimes, the Pst instance isn't available during the __load_predictions() routine, so I made the forecast weight checking optional.  Just pushed a fix to develop

I would check this on your problem, but the jco you uploaded doesn't have the forecast names?  I can verify this fix if you post the jco and pst that were giving you

[2017-06-23 15:14] katherbreen commented on #22
Sorry about that, I sent you the wrong jco - my mistake.  Thank you for checking into this.
[pyEMU_test_KBreen4.zip](https://github.com/jtwhite79/pyemu/files/1098242/pyEMU_test_KBreen4.zip)

[2017-06-23 19:58] jtwhite79 commented on #22
Looks to run to completion with the develop branch.  Let me know how it goes...

[2017-06-23 20:37] katherbreen commented on #22
Yes, working for me now.  Thanks so much!

[2017-06-23 20:37] #22 closed

[2017-09-17 19:35] mnfienen-usgs opened #23 "exe name in forward_run when automagically generated"
Yo -

For Freyberg example, trying to make the automagically generated PEST files use NWT instead of MF2005 for the exe_name in the forward_run.py script. Can't seem to force that, though. I tried implementing passing in an org_model_exe_name optional variable and setting it, but somehow it's getting overwritten. Check out the `PST_to_pyemu_to_Schur_Overview.ipynb` notebook.

[2017-09-17 19:36] mnfienen-usgs opened #24 "PstFromFlopyModel expects pilot points"
Ran into a problem with PstFromFlopyModel in which methods bombed if pp_props was not set. I made traps to try and allow subsets of properties to be set. I committed them in develop.

[2017-09-17 19:38] mnfienen-usgs commented on #24
Oh - and relatedly, had trouble when  trying to use bc_props (specifically well pumping rates) as bc_props = [["wel.flux",None]] which is similar to your example notebook. Check out the `PST_to_pyemu_to_Schur_Overview.ipynb` notebook.

[2017-09-17 21:34] jtwhite79 commented on #23
I'm having the same issue. It's because flopy isn't resetting the exe_name, only the version even if it finds nwt or upw. Dumb I know. I tried to patch the problem in flopy but since there are other names for exes (e.g. Modflow-nwt_X64.exe) it caused other things to break. I'm thinking I'll just refactor the pstfromflopy constructor to take the loaded flopy model instead of the nam file. That woul

[2017-09-17 22:24] mnfienen-usgs commented on #23
That's cool. I tried adding an option to pass through a variable `org_model_exe_name` to override it getting set by `flopy` load but didn't work. Also, having issues on Travis getting the commit up....

[2017-09-18 15:25] jtwhite79 commented on #24
got this tuned up.  Notebook at least gets an ``noptmax`` = 0 to run.

[2017-09-18 15:25] #24 closed

[2017-09-18 15:27] jtwhite79 commented on #23
refactored - ``PstFromFlopy`` accepts a ``model`` arg, which can be a ``flopy.modflow.Modflow`` instance and ``org_model_ws`` is optional (and is ignored).  The ``model`` arg can also be a ``str``, which is treated as a nam file name and ``org_model_ws`` is used to load the model.,

[2017-09-18 15:27] #23 closed

[2017-09-18 19:21] mnfienen-usgs opened #25 "inschek chokes with <100K observations"
Another small issue with automatically setting up PST from flopy model. `inschek` chokes with >100K observations, so can't use it to populate starting values for observations. In my example, I just removed some potential obs from HYDMOD, but might want to figure a way around that...

[2017-09-18 21:09] jtwhite79 commented on #25
I've seen that too. For hydmod, smp or hob, we can fix this by loading the output files with pandas and replacing values. But for other arbitrary instruction files...

[2017-09-18 21:11] mnfienen-usgs commented on #25
kewl. should we just detect if NOBS for a given INS file is 100K or greater and, if so, warn about no INSCHEK run and populate with some dummy obs value like -9999 or 1.0 or something?

[2017-09-18 21:18] jtwhite79 commented on #25
i think it does populate with dummy Vals now. Let me know if it doesn't...

I'll prob just recompile inschek to process more obs.

[2017-09-18 21:21] mnfienen-usgs commented on #25
since inschek bombed, pyemu didn't get the chance to write values. I think either we fix inschek or trap for large number of vars prior to calling inschek

[2017-09-18 21:32] langevin-usgs commented on #25
Would be nice to rewrite inscheck so that it allocates more memory if needed, instead of hardwiring an upper limit.

[2017-09-18 22:05] jtwhite79 commented on #25
Ok, Mike - we should trap for that, at least for hymod, hob and smp files since we have knowledge of the output file structure.

Chris - I agree, but In fortran, that's not so fun. I guess you would have to read through the instruction file once to get the number of observations, then rewind it and process?  I haven't looked at the inschek code closely, but I can foretell a wicked nest of goto sta

[2017-09-18 22:20] langevin-usgs commented on #25
Lately, we've been dynamically reallocating arrays on the fly, unless we now the size up front.

[2017-09-28 15:59] wzell-usgs opened #27 "pst.write() iterates through n characters (rather than n paths) if pst.model_command value is changed."

[2017-09-28 16:02] wzell-usgs commented on #27
Maybe cast this as a list rather than a string.

[2017-09-28 16:49] jtwhite79 commented on #27
I've messed this up too - just added an overload of __setattr__ to Pst that traps for a str instead of a list.  Seems to be working.

[2017-09-28 16:53] jtwhite79 opened #28 "Initial version of documentation - need help!"
Thanks to @smwesten-usgs , we now have some initial docuementation for pyemu!  It needs lots of work, especially examples.  All PRs accepted (no credit, bad credit, doesn't matter!) - this is an easy way to jump up your GH stats!

[2017-09-28 17:01] wzell-usgs commented on #27
Oops! So it was my fault for over-writing a list with string. Duh.

[2017-09-28 17:15] jtwhite79 commented on #27
There can be multiple model commands (the numcom var in the control data section)  but I've messed up this up the same way several times so it needed to be fixed anyway.

[2017-11-15 00:54] jtwhite79 opened #29 "plotting coming soon"
plotting needs:

Pst.plot() - 1to1 (by groups) (if res is available), parameter (and forecast) historgrams (if pest++ unc summaries are available)

Ensemble.plot() - historgrams (several per page, prob multipage pdf), support for several Ensembles on same plots to compare histrograms (and changes), add initial/observed values from Pst (if avail)

Schur.plot() - bar charts of prior/post/reduce unce

[2018-02-22 22:47] jtwhite79 commented on #29
Initial plotting support is in.  Most of it is attached to the Pst.plot() and uses the "kind" keyword for the type of plot to make.  More to come...

[2018-02-25 16:25] mnfienen-usgs commented on #29
Worked more on plotting (mostly in the weeds). But....Travis isn't installing correctly for testing. Getting these errors for Python 2.7 3.5 (but 3.6 passes):

[code]

[2018-02-25 18:33] jtwhite79 commented on #29
I'm getting them too as of Friday.  Looks like conda changed their yaml package and it's only 3.6.  I'll dig around - I bet others are having this issue too.

[2018-02-25 18:35] mnfienen-usgs commented on #29
right on - I'll stop hitting `restart` over and over like a madman then

[2018-03-06 17:29] unbiasedmodeler opened #31 "Minor edit in the function modflow_hob_to_instruction_file()"
Hello,

 I'm using the notebook titled 'modflow_to_pest_like_a_boss' to build PEST++ files for a groundwater model (I'm working with a team from USGS-NMWSC) . On running the function pyemu.gw_utils.modflow_hob_to_instruction_file() in cell 4 of the notebook, I get an instruction file in which a typical line is:

l1 w w !i03j10.2!

 Since we're interested in reading the values in the first column i

[2018-03-06 19:56] jtwhite79 commented on #31
Hey @unbiasedmodeler (great handle BTW!) - you are right, that is a bug.  Its been fixed in the develop branch.

If you are interested in the "auto setup" stuff, please check out this notebook (on develop branch):
[https://github.com/jtwhite79/pyemu/blob/develop/examples/notest_MODFLOW_to_PEST_even_more_boss.ipynb](https://github.com/jtwhite79/pyemu/blob/develop/examples/notest_MODFLOW_to_PEST_eve

[2018-03-07 04:31] unbiasedmodeler commented on #31
Thanks, @jtwhite79 I'll look into using the even_more_boss notebook ;

[2018-03-07 04:31] #31 closed

[2018-03-12 23:51] cnicol-gwlogic opened #32 "pst_handler / #comments"
A minor, possibly me-specific issue in pst_handler: if suitable for broad use, can we please add comment='#' to pd.read_csv() in _read_df()? Pyemu bombs on reading a big pest control file I have which has comments throughout, marked modflow-style with #s.

Thanks a lot,
Chris.

[2018-03-13 00:57] jtwhite79 commented on #32
def wanna support comments in the control file!  Are your comments entire lines mixed in the ``DataFramed``'d sections or extra things at the end of the lines?  Can you upload you control file so I can add it to the tests?

[2018-03-13 01:13] cnicol-gwlogic commented on #32
Awesome, thanks a lot. Comments are all end of line in my case, within the parameter and/or obs sections - I tested adding comment='#' to pd.read_csv() in _read_df() and it works fine with my file:
[dualss_csgtrans_regwtsadj_v8_hp_dataworth_noregV3_base.zip](https://github.com/jtwhite79/pyemu/files/1805067/dualss_csgtrans_regwtsadj_v8_hp_dataworth_noregV3_base.zip)
I guess it might be safest to ad

[2018-03-13 01:18] jtwhite79 commented on #32
Thanks for the file.  I'll work on this - I was thinking it would be good to carry the comments through so that when you write a new control file it keeps them. This will take some more work but I think its important:  I'm planning to start using the comments at the end of the lines to store metadata like spatial and temporal things...

[2018-03-13 01:20] cnicol-gwlogic commented on #32
Ah good point, hadn't thought about re-writes, but yeah esp for monster files like this it is a nice touch.

[2018-03-13 03:26] #29 closed

[2018-03-13 03:26] #28 closed

[2018-03-13 03:26] #27 closed

[2018-03-13 03:27] #19 closed

[2018-03-13 07:54] jtwhite79 commented on #32
Ok, I think I got this going on the develop branch.  By default, if comments are found during read, then they are repeated in a write.  Let me know what you think.

[2018-03-13 22:01] cnicol-gwlogic commented on #32
That works great - thanks a lot for implementing so quickly.

As an aside, I have noticed a couple of other issues with re-writes, probably quite specific to my setup. I'll have a stab at sorting them out in the next day or so and send you my suggested changes for consideration (let me know if that's not the easiest way to get these to you - I'm new to github).

Cheers,
Chris.

[2018-03-13 22:01] #32 closed

[2018-03-14 09:19] jtwhite79 commented on #32
I'm keen to hear any issues you have.  Any contributions are welcome - pull request would be best.

[2018-04-25 12:51] hwreeves-USGS opened #36 "Log transform in build_jac_test"
build_jac_test_csv, in helpers - develop branch,  takes the log of the parameters adds the increment and then does 10^(result) to get the perturbed value for the dataframe.  I though the parameter specifications in PEST were on the untransformed values for log parameters, so that the value in the table should just be (base_value + increment).  Right now, if the base value for a log transformed par

[2018-05-12 13:22] fluidmotion opened #40 "dictionary key mismatch in fac2real?"
probably abusing this - but i don't yet see how the dictionary key for pp_dict would match the key for fac_data?

- looking around line 1986 in geostats.py
`fac_sum = sum([pp_dict[pp] * fac_data[pp] for pp in fac_data])`

the pp_dict key is defined as the pilot point name
`pp_dict = {name:val for name,val in zip(pp_data.index,pp_data.parval1)}`

but the fac_data key is defined by some value preced

[2018-05-12 22:35] jtwhite79 commented on #40
The factor lines in the factors file are pairs of integers and floats, where the integer in the index of the pp name listed at the top of the file and the float is the kriging factor.  This is how the pest utils do it too.  So, like the pest utils, it assumes the pilot points are listed in the same order in the pp file and the factors file  - prob should deal with the case where pp file is not in

[2018-05-13 21:25] fluidmotion commented on #40
closed pull #41 related to this issue.
 but before we go... i'm still seeing some oddness after resetting index the dataframe (so that the index value matches the index of the factors). when this df is passed to the OrdinaryKrige constructor(?) - that df gets assigned to self.point_data, but in doing so, it appears to lose the reset index. i tested using
`self.point_data = point_data.copy()`
and i

[2018-05-13 22:07] jtwhite79 commented on #40
There's a pretty high probability that the index of the ``OrdinaryKriege.point_data`` is getting reset somewhere, so it's good idea to copy ``point_data`` in the constructor. Did the tests pass?

[2018-05-20 12:59] fluidmotion commented on #40
addressed in c2bc47fd243ac0b887d935a823cbb96989ce8e13 - closing.

[2018-05-20 12:59] #40 closed

[2018-08-07 21:09] mnfienen opened #57 "MonteCarlo Draw Assertion Error with Sparse Covariance"
Seems that the MC draw method bombs on an assertion error when passing it a `Cov` object made with `pyemu.utils.helpers.sparse_geostatistical_prior_builder()`

Not sure if best bet is to change the assertion at 161 in `mc.py` so that rather then `assert isinstance(cov,Cov)` also asserts to allow `isinstance(cov,SparseMatrix)`?

Alternative would be to issue a specific error if `SparseMatrix` isn't

[2018-08-07 21:16] jtwhite79 commented on #57
I think the issue is that if ``cov`` is ``SparseMatrix`` type, you need to call a different ``ParameterEnsemble`` draw method ( ``from_sparse_gaussian_draw()`` instead of ``from_gaussian_draw()``) under the hood in ``MonteCarlo.draw()``.  Its easy enough, just need to type-check the ``cov`` arg and then add a conditional later on to make the right draw call.

[2018-08-08 00:10] jtwhite79 commented on #57
FYI - there is also now support for ``ParameterEnsemble.from_triangular_draw()`` and ``ParameterEnsemble.from_mixed_draw()``, which allows you to combine (multivariate) gaussian, uniform, and triangular distributions for different parameters.  Probably want to refactor the ``MonteCarlo.draw()`` to use the mixed-draw type because it is more general.  So let's leave this issue open as a reminder...

[2018-08-09 12:39] mnfienen opened #58 "Mixing JCO/PST objects/filenames in instantiation"
Bit of an obscure error here. When making a `LinearAnalysis` object (I was making a `Scur` object which calls the `LinearAnalysis` constructor) user can pass a string for `jco` or a `pyemu.Jco` object.

So, if user passes a string for `jco`, `pyemu` replaces `.jco` or `.jcb` extension on the string with `.pst` and reads what it needs from that associated PEST control file.

But, if the user passes

[2018-08-09 19:59] jtwhite79 commented on #58
I like better/more exception trapping and making the most with the args that are passed has been a focus with ``pyemu``...I guess one issue is that you don't need a ``Pst`` explicitly if you pass ``Jco`` and ``Cov``s for parameter prior and obs noise.  Why don't you check out a branch for this and can we work to make the behavior more intuitive (and get the tests working how we want)?

[2018-08-09 21:04] mnfienen commented on #58
Right on. I also really like the flexibility in calls, so might need to amp up the exception handling in some of these to detect invalid combinations. Made a branch `la_exceptions` to explore this in

[2018-08-12 03:47] wkitlasten opened #60 "Zero variance with pyemu.Cov.from_parameter_data despite valid parbnds?"
I am trying to build a prior parameter covariance matrix from parameter bounds.

pst=pyemu.Pst('pcf.pst')
cov = pyemu.Cov.from_parameter_data(pst)

Gives the following:
Exception: Cov.from_parameter_data() error: variance for parameter 10309025a1 is 0.0

The relevant line in the pst file is:

10309025a1	log	factor	3.221851906E+00	1.000000000E-06	4.000001000E+00	inflow	1.000000000E+00	-2.000001000E

[2018-08-12 03:50] wkitlasten commented on #60
zip it... duh

[pcf_8015_1.zip](https://github.com/jtwhite79/pyemu/files/2280705/pcf_8015_1.zip)

[2018-08-12 04:08] jtwhite79 commented on #60
Looks like this is result of applying ``scale`` and ``offset`` the bounds before taking the log transform - in this case, that causes ``np.abs(parubnd) == np.abs(parlbnd)``.  I remember this happening before and there an option to help:  you can pass ``scale_offset=False`` to ``Cov .from_parameter_data()`` not apply ``scale`` and ``offset``.  I don't have a good answer as to conceptually whether t

[2018-08-12 15:00] wkitlasten commented on #60
Confirmed that offset was the problem. Switched these pars to no transformation. Cov.from_parameter_data() works fine now.

Correct, geostatistical_prior_builder does not see scale_offset.

[2018-08-12 23:09] jtwhite79 commented on #60
I've added a more verbose error message, suggesting to try changing ``scale_offset``.

Also, I'm planning to refactor most of the higher-level draw methods to support the newly created ``from_mixed_draws`` and I'll add ``kwargs`` to all of these higher level draws...

[2018-11-20 19:33] mnfienen opened #66 "Issue with regularization and parameters containing "-" in name"
When parameter names contain "-" character (kinda bad form, but legal in PEST according to manual) there is a bug in `Pst.write()` when prior information has been implemented using `zero_order_tikhonov`. In the `Pst-write()` method, there is a call to private function `_parse_pi_par_names` which splits each prior information equation on `+` or `-`.

As a result, the function concludes that the nam

[2018-11-20 23:49] jtwhite79 commented on #66
There might be an easy fix: the specification for PI equations is that all tokens are whitespace separated, so instead of splitting on `+` and `-`, we could split on ` + ` and ` - ` (a space on each side of the operator.

[2018-11-21 02:30] mnfienen commented on #66
I'm down with that solution - but.....does PEST require whitespace to delimit the equation elements?

[2018-11-21 02:54] jtwhite79 commented on #66
page 102 (BOOM!):

[2018-11-21 14:52] mnfienen commented on #66
Sweet as! On it.

[2018-11-21 19:07] #36 closed

[2018-11-21 19:35] mnfienen commented on #66
OK - fixed this but had to do some "clever" coding. simply splitting on `" + "` and `" - "` was harder than one would think!

[2018-11-21 19:35] #66 closed

[2018-11-27 17:13] wkitlasten opened #68 "pyemu draws outside par*bnd"
I am trying to build a scaled parcov in the attached notebook and check the parvals from the pyemu draws, but it looks like the parvals from the draws are going outside the parlbnd and parubnd (line [27:] ). Parbnds should be enforced in the draws, yes?

[pyemu_parcov_wes2.zip](https://github.com/jtwhite79/pyemu/files/2621068/pyemu_parcov_wes2.zip)

[2018-11-27 17:55] wkitlasten commented on #68
Doh! Thanks @mnfienen!

[2018-11-27 17:55] #68 closed

[2019-03-08 23:20] jknightusgs opened #70 "restart option in start_slaves utility?"
Hi there,

I hacked the start_slaves utility to include an option to restart an aborted run. Seems to have worked and wonder if you think it's something worth including in your code.

I just added an option 'restart'=True (default value is False)...then under the master section, added an if/else to include ' \r' in the arg list if restart=True

` if restart:`
`    args = [exe_rel_path, pst_rel_pat

[2019-03-09 00:44] jtwhite79 commented on #70
Hey Jake - sounds great!  Wanna submit a pull request?

[2019-03-09 15:10] jknightusgs commented on #70
I wouldn't mind learning how...reading up on that now. It looks like I create a fork, make the changes there and then propose the changes be merged with the master branch? Seems straightforward enough...

also, I should probably include a few checks under the 'if restart:' block to confirm the requisite files are set up properly for a restarted run before the utility goes ahead with firing up all

[2019-03-09 18:49] jtwhite79 commented on #70
You've got the idea, just submit the pull request for the develop branch :)

As far as checking  and error trapping, the more the better!

[2019-03-29 08:47] corcorf opened #71 "setup_hob in helpers.py fails to get hob_out_fname"
I've just been trying out the 'notest_MODFLOW_to_PEST_even_more_boss' example notebook and I think I've run into a bug:
- 'setup_hob' calls flopy's 'get_output_attribute' function to get the head observation output filename, but doesn't pass 'fname' to the 'attr' field.
- as a result, 'get_output_attribute' doesn't return anything and the 'os.path.join()' call fails.
(I guess it's also possibly an

[2019-03-29 19:25] jwhite-usgs commented on #71
that notebook wasnt running - thanks for the heads up.  Its been patched on `develop` and I'll try to get it running with travis and appveyor before the next release.  But I dont think that version of the freyberg model uses `hob` so there should be an exception thrown if `setup_hob()` is called - if you want to include `hob` observations, then you need to add an `hob` package to the modflow model

[2019-04-01 07:56] corcorf commented on #71
Yes, sorry - should have said I was trying to adapt the notebook to a model of my own, which does include the `hob` package, when I got the error.
Thanks.

[2019-04-01 08:09] jwhite-usgs commented on #71
right on - there are quite a few examples of the `PstFromFlopy` class in `autotest/full_meal_deal_tests.py` and `autotest/pst_tests.py` if you are looking for more examples.  I'll take another look at `setup_hob()`

[2019-04-03 04:46] jtwhite79 opened #73 "transferring repo ownership"
just a heads up for those with active development forks:  Im going to transfer the ownership of the pyemu repo to usgs/pestpp.  This is to make clear that pyemu is not owned by any one person and instead is something for all of us to work on (it needs lots of work!).  Logistically, according to some random bits of information I found, I dont think it will interrupt anyone's fork - you should still

[2019-04-08 16:05] corcorf commented on #71
Thanks for the pointer to those examples. I think I've found a couple of other issues related to the above:

1. when `setup_hob` is called it creates the `.hob.out.ins` file in the original model workspace, rather than in the new one. This means that when `build_pst` is called it misses the `hob.out.ins` file. I got around this by copying the `.ins` file over to my new model workspace.

2. `Pst.fr

[2019-04-08 21:48] #73 closed

[2019-04-08 21:50] jwhite-usgs commented on #71
Alright - I think I fixed the issue with the ins file being written to the old model workspace (on `develop`).  There is also a chance the hob-created obs names were not lower case explicitly, so those are being cast down now.  was the pandas indexing error in observation data?

[2019-04-09 07:42] corcorf commented on #71
Yes - it happened when `build_pst` tried to copy the information from `obs_dfs['hob']` into the `obs` DataFrame. Because the `.hob.out.ins` file wasn't picked up when creating the `pst` object (and also because of the case issue), there were no rows in the `obs` DF for the head observations, and the `obs.loc` method failed (currently at line 2831).

[2019-04-09 18:20] jwhite-usgs commented on #71
Sorry for the continued issues - I'm not an HBO guy myself and I need to just stop being lazy and add hob to one of the tests.  I think you are right about the path split.

Re forking, always looking for more contributors so please submit PRs at will!

[2019-04-10 10:21] corcorf opened #74 "PstFromFlopyModel creates template files with rows longer than 2000 characters"
As I understand it this is a problem for standard PEST. PEST++ seems to be managing ok, but I can't find positive confirmation in the manuals that the row length limit doesn't apply for PEST++.

Is there a way to reduce the parameter space width, to reduce the resulting width of the template files?

[2019-04-10 19:47] jwhite-usgs commented on #74
The line length limit for PEST++ is 200k chars at the mo.  To make the template file line lengths shorter means we need to read/write arrays in wrapped format (barf!) Which is harder to deal with since we can't use `numpy.loadtxt()`.  This probably doable but would require some hacking...there is an effort underway to generalize the PstFromFlopy concept - I'll add the idea of wrapped array support

[2019-04-11 07:46] corcorf commented on #74
That good to know about the limit for PEST++ - I doubt I'll be breaching that any time soon! In which case the only issue is that PESTCHEK etc gets upset about the `.tpl` files when they're too long and won't proceed to check the rest of the inputs. But I can get around that by editing the templates to remove extra spaces, re-running PESTCHEK to check everything else, and then reinstating the orig

[2019-04-11 20:22] wkitlasten opened #76 "Baffled by "ControlData""
Not really an issue with pyemu, but can  I change NOPTMAX for pst class using pyemu?

[2019-04-11 20:43] jwhite-usgs commented on #76
it is baffling!  the `ControlData` class overloads the setters and getters to try to protect from invalid values (like setting `noptmax = "junk"`.  This was supposed to un-baffle and provide access to all of the `* control data` section entries by name, so `noptmax` can be accessed like this: `pst.control_data.noptmax = -1`

[2019-04-11 21:21] wkitlasten commented on #76
Well, that's simple enough! Thanks

On Thu, Apr 11, 2019 at 1:43 PM jwhite-usgs <notifications@github.com>
wrote:

--
Wes Kitlasten
United States Geological Survey
2730 N. Deer Run Road
Carson City, NV 89701
(775) 887-7711
orcid: 0000-0002-2049-9107

[2019-04-22 13:56] mnfienen-usgs opened #77 "adjust_weights_by_list"
So this method has a bit of strange behavior. You can pass a list and a weight and the weights in the observation data section whose names are on the passed list get assigned the new weight. All good - BUT - there is a line in the code that restricts this behavior to only observations that start with a weight of 0.0. A couple thoughts on this:
0) at a minimum, the documentation should make this cl

[2019-04-22 19:32] jwhite-usgs commented on #77
I'm inclined to remove this one - as you say, it's a trivial one liner.  I think we should reserve the "weight adjustment" methods for changing weights from current values ("adjust") in ways that require more than one line!

[2019-04-22 19:32] mnfienen-usgs commented on #77
I'm down - let's do it.

[2019-04-22 19:32] #77 closed

[2019-04-25 09:35] corcorf opened #78 "PstFromFlopyModel fails when use_pp_zones==False but ibound includes values>1"
I was having trouble getting `PstFromFlopyModel` to run with my model when using only pilot point properties (no `grid_props` or `grid_props`). This stopped being an issue when I replaced all non-zero values in my ibound array with ones. I think `setup_pilotpoints_grid` was only creating pps where ibound==1, and as a result the helper crashed out during calculation of interpolation factors.
The do

[2019-04-26 04:58] jtwhite79 commented on #78
Correct again - I just pushed a fix for this to `develop`.  Let me know if that doesn't work.

[2019-04-26 08:29] corcorf commented on #78
Awesome, thanks.

[2019-04-30 05:45] #78 closed

[2019-04-30 05:45] #76 closed

[2019-04-30 05:45] #74 closed

[2019-04-30 05:46] #71 closed

[2019-04-30 05:46] #70 closed

[2019-04-30 05:46] #60 closed

[2019-04-30 05:47] #58 closed

[2019-07-09 18:52] dpphat opened #82 "Ensemble Smoother Example Notebook."
Hi Jeremy.
Thanks so much for your work on the pyEmu library.
Do you have any notebooks in which you demonstrate setting up of an iterative ensemble smoother that you are able to share?
Thanks again.
Dan Puddephatt

[2019-07-09 22:21] jtwhite79 commented on #82
Hey Dan - not sure if you have seen these:

[https://github.com/mnfienen-usgs/GW1876/tree/fy19/activities_csiro/notebooks](https://github.com/mnfienen-usgs/GW1876/tree/fy19/activities_csiro/notebooks)

you have to run the setup_pest_interface and prior_montecarlo notebooks first, but then you can run the pestpp-ies notebook, which includes a demo of full spatial localization setup.  That setup_pes

[2019-07-09 23:59] dpphat commented on #82
Thanks so much Jeremy!
I am consulting the PESTpp manual.
Mike's notebooks should be super-helpful in terms of having a PyEMU example to work with.
Much appreciated.
Dan

[2019-07-09 23:59] #82 closed

[2019-07-15 03:21] wkitlasten opened #83 "Any thoughts why figures are changing sizes?"
Recently 1:1 plots are coming out with odd sizes. It was working fine about a month ago.

With nr,nc=4,2 in plot_utils.py I get:

![image](https://user-images.githubusercontent.com/14982084/61193740-27756b80-a672-11e9-9dc1-d00525c09a6f.png)

With nr,nc=2,2 the plots for the first two plots are the expected size, the next two are tiny, the next two are a little bigger, and all the rest are the expe

[2019-07-15 11:08] jtwhite79 commented on #83
That's bizarre.   I dont think any of that plotting stuff has been changed.  Did any underlying packages get updated?

[2019-07-15 22:54] wkitlasten commented on #83
Some major windows updates over the last month, which I always like to
blame. But pretty sure no python package updates. Similar behavior on both
my machines.

On Mon, Jul 15, 2019 at 4:09 AM J Dub <notifications@github.com> wrote:

--
Wes Kitlasten
United States Geological Survey
2730 N. Deer Run Road
Carson City, NV 89701
(775) 887-7711
orcid: 0000-0002-2049-9107

[2019-07-25 01:13] RebeccaDoble opened #84 "pst_helper - processing a different number of wells in each stress period"
Hello,

I'm trying to run the pst_helper on an existing model that has a different (increasing) number of wells in each stress period. I get the following error:

Exception: spatial_list_pars() error: must have same number of entries for every stress period for wel

I've done the obvious fix of re-writing my model .wel file to run all wells in all stress periods, some with zero pumping rates. But

[2019-07-25 01:37] jtwhite79 commented on #84
great question @RebeccaDoble - the helper needs the same number of BC for each stress period so we can apply element-by-element parameters (spatial list props) - otherwise, things can get goofed.  I can look into rectifying the issue automatically when in the helper routines.  or if you wanna do it, that would be sweet!

[2019-07-25 06:12] RebeccaDoble commented on #84
Happy either way, although with me it will take a while. My main objective is meeting milestones! I'm still trying to figure out how to deal with 'wrong number of pp_files found:{0}'   :(

[2019-07-26 15:16] dpphat opened #85 "pestpp-ies build error resolved."
Hi Jeremy.
Thanks for your help resolving the template build issue I was having over on [usgs\pestpp ](https://github.com/usgs/pestpp/issues/18). The issue that you found was that the prior.jcb included negative numbers. I was building prior.jcb with an ensemble I prepared using pyEmu without enforcing parameter bounds.

I was attempting to follow the [setup_pest_interface.pdf](https://github.com/

[2019-07-26 19:44] jtwhite79 commented on #85
Sweet @dpphat - I was worried something was up with the ensemble draw routine.  Glad it's working.

[2019-07-28 04:40] #83 closed

[2019-08-13 01:01] #85 closed

[2019-08-13 01:03] jwhite-usgs commented on #25
Finally this has a solution - `Pst` now has a `process_output_files()` method that uses pure python instruction file processing.  Its def not as robust as INSCHEK but it removes the need to run a pre-compiled binary (and so far it is orders of magnitude faster than INSCHEK)

[2019-08-13 01:03] #25 closed

[2019-08-13 01:05] jwhite-usgs commented on #57
I'm preparing to remove the sparse covariance matrix stuff - it was an interim solution.  These days, we just draw par group by par group to avoid ever needed to form a huge covariance matrix.

[2019-08-13 01:05] #57 closed

[2019-08-13 01:14] jwhite-usgs opened #87 "Docs and refactor coming soon"
Just a heads up, Im in the process of reworking (or initially working up) more complete documentation and also cleaning up code as I go.  This is in preparation for the new control file format as well as a dedicated prior information equation class.

Lots of stuff potentially on the chopping block, including:

- deprecation-warning wrapped reroutes for functions that have moved
- sparse covariance

[2019-08-20 18:44] wkitlasten opened #88 "various utils rely on inschek"
Several examples and utils rely on inschek.exe. Is it possible to add inschek to the bin? If so, I will do the menial task of changing the run('inschek...) commands to the relative path so Windows users don't have to deal with another download and changing their path in environment variables.

[2019-08-20 20:10] jtwhite79 commented on #88
actually @wkitlasten I just finished adding python-based instruction file processing (checkout `Pst.processing_output_files()`).  This is still pretty green and doesnt support all the complexity of instructions that are possible but it does support the most common instructions (at least that I use).  So those calls to inschek are getting phased out and replaced by the python-based processor.  Any

[2019-08-20 20:48] wkitlasten commented on #88
Busy man!

Calls to inschek using os_utils.run are in setup_mflist_budget_obs
and setup_mtlist_budget_obs (maybe others?).
setup_mflist_budget_obs returns None when inschek fails, so maybe the best
option is to just remove the "return None"? The user will get the error
message but (hopefully) the df will be returned for examination...?

On Tue, Aug 20, 2019 at 1:10 PM J Dub <notifications@github.c

[2019-08-21 22:08] jtwhite79 commented on #88
ok - I think we should migrate all those raw `os.system("inschek...")` calls to use `pst_utils.try_process_ins_file()` - this will use the new python-based instruction processing, esp since those utils write really simple instruction files.   I can work that in pretty soon otherwise PRs accepted!

[2019-08-27 16:24] raerickson opened #89 "changing to method of Sobol"
@mnfienen-usgs has got me hooked on this package, but I'm having a problem right now.

`pestpp-sen` is going away from gsa files for specifying methods.

I'm trying to use the following code to specify the method of Sobol.

[code]

However, only the method of Morris is running.

How do I specify the method of Sobol?

[2019-08-27 17:19] #89 closed, assigned to nobody

[2019-09-12 01:58] RebeccaDoble opened #90 "Add observations not adding obsval or obgnme"
This is most likely my crappy python skills, but...

I'm setting up a pest control file. I've created a timeseries of all obs well locations for all stress periods using setup_hds_timeseries(). The dataframe looks fine, and pulls head values out of the .hds file.

I run the pest helper to set up the control file. All looks good.

Then I pst.add_observations(), and write the forward run with frun.

[2019-09-12 03:14] RebeccaDoble commented on #90
I've ended up changing them manually in the pst object.

[2019-09-19 07:09] RebeccaDoble commented on #90
Hi Jeremy, sorry, I didn't get an alert for your reply.
Your summary is correct.
I tried emailing my notebook to you about a week ago, but it obviously hasn't got through. I've attached a word copy and paste, which looks crap, sorry.

How do I use the latest develop branch? Can I do a git pull? I can't access any of the pyEMU 0.5 documentation due to an insecure connection.

I did try assigning in

[2019-09-19 07:14] RebeccaDoble commented on #90
If anyone else actually reads this, don't change it manually. It doesn't work.

[2019-09-20 03:35] RebeccaDoble commented on #90
So I updated my pyemu to the develop branch (version 0.8?), and..... it doesn't fix the problem. Actually it makes it worse - now I have flx_volumes and flx_constant_head and vol_constant_head also in the df, with default values for obsval and obgnme.

[2019-09-20 04:44] RebeccaDoble commented on #90
Forgot to tag @jtwhite79 @jwhite-usgs

[2019-09-20 13:11] jtwhite79 commented on #90
Looking at that notebook export (well trying to!) it looks like inschek = False in the add _observations call which means pyemu is just parsing the ins file for observation names but not actually processing the output file with the ins for observation values.  The data frame that the setup function returns does have the extracted values in it as does the “processsd” csv file.  I can verify that py

[2019-09-22 13:13] RebeccaDoble commented on #90
Thanks @jtwhite79. I had inschek switched off as a test before updating pyemu.

It's on again now, and after a couple of tries to get the correct file names (for some reason I had to get rid of pst_path, and hardwire the path in the ins and out file names), I'm getting the obs heads into the df. The obgnme is still obgnme, but I can work with that.

I am still not able to calculate phi though, as

[2019-09-22 13:14] RebeccaDoble commented on #90
Oops, random forgotten and un-deleted sentence at the end of the last comment.

[2019-09-23 16:03] jtwhite79 commented on #88
This should be done now - all instruction file processing should use `pyemu.pst_utils.InstructionFile`

[2019-09-23 16:03] #88 closed

[2019-10-04 05:13] RebeccaDoble opened #93 "parameter names too long, hk template file too wide"
Just in case Matt doesn't get back to me...

My pest setup is auto-generating parameter names that are longer than 12 characters (for simple stuff like hk and porosity). Also due to the size of the model (168 cols), the hk template file is too wide (> 2000 characters). Pest ++ is not impressed and won't run.

Apparently there is a switch for the setup pest file command to shorten the names. Could

[2019-10-04 12:42] MJKnowling commented on #93
@RebeccaDoble PEST++ tools should have no problem with parnme string lengths greater than 12 char (the limit is 200) and template file line lengths greater than 2000 (I think the limit is 200K). These look like PEST limits (at least the parnme string length). There is even a new jco format that is triggered automatically when the old parnme limit is exceeded in PEST++.

First things first, which e

[2019-10-05 03:58] RebeccaDoble commented on #93
@MJKnowling yes, it is 4th October version of pestpp-ies.exe.
I've just tried running it in a dos window now, and it worked. I'm going to have to double check why it doesn't in the notebook. One step closer...

Thanks.

[2019-10-07 14:10] MJKnowling commented on #93
@RebeccaDoble cool - just an exe path specification issue then by the sounds of it.

[2019-10-07 14:10] #93 closed

[2019-10-15 11:28] RebeccaDoble opened #95 "pestpp-ies can't find .hds_timeseries.processed or .hds_timeseries.processed.ins files"
Think the title explains it. The .hds_timeseries.processed files are in the same directory as pestpp-ies and all the rest of the model files - I can see them, pestpp-ies can't.

I have the most up to date version of pestpp-ies.exe

I've stuck them on github here: https://github.com/RebeccaDoble/gw-model

I’m using setup_pest_interface_GISERA6.ipynb, and the working directory starts as w14c_test an

[2019-10-15 12:42] jtwhite79 commented on #95
Can you check the model input output section of the control file to see where the instruction file is expected to be?

[2019-10-17 03:23] RebeccaDoble commented on #95
Thanks. You're right. The pest control file had the whole path specified. I can get it to run if I delete the paths out of the pst file manually.

Strangely the add_observations function can't find these files unless I specify a path, even if they are in the correct model working directory. If I specify the path, the whole thing gets written into the pst file.

[2019-10-17 03:57] wkitlasten commented on #95
Hi Rebecca,

Where are you calling the add_observations function from? You might need to
explicitly set your path in your python environment of choice. I know at
least one IDE that always gets me! Whereas the files in the pst (control)
file are all relative to the directory where pestpp-ies.exe is run.

Does that make sense?

Sent from my phone without spell checker. Please excuse my fat thumbs an

[2019-10-17 04:08] RebeccaDoble commented on #95
Thanks Wes,
Makes sense despite your thumbs and eyes. I’ve made sure that I've copied the files to the working directory where pestpp-ies is run from, and also tried to run the add_observations function from a few other directories as well. I'll just use the manual work around for the moment, unless another directory combination works.

Thanks again,
Rebecca

[2019-10-17 07:00] RebeccaDoble opened #96 "Getting actual head observations from actual groundwater wells into pest control file"
Hi clever people,

Sorry to use your bug fix zone as a help centre, but....

Which util do I need to use to get all of my head observation time series (and river flux time series) into the pest control file? I think I'm looking for something like PESTGEN. If it's in pyemu I'll use it, otherwise I'll just use boring basic dos PESTGEN.

And on that, did I miss something in the training workshop, or

[2019-10-17 13:50] jtwhite79 commented on #96
In the class, we generated our own truth field obs and then used pandas to get them in the observation data section in the obsval column.  To do this, you need to workout the obs names that coorespond to the field observations.  Then pandas!

[2019-10-17 23:34] RebeccaDoble commented on #95
Strangely no it doesn't. I've already tried these calls:

pst.add_observations(ins_file = ins_file, out_file=out_file,pst_path=".", inschek=True)
pst.add_observations(ins_file = ins_file, out_file=out_file, pst_path=os.path.join(".","W14_template"), inschek=True)
pst.add_observations(ins_file = ins_file, out_file=out_file,pst_path="W14_template", inschek=True)

And still get:
Exception: ins file n

[2019-10-17 23:54] RebeccaDoble commented on #95
Hey weird. If I name the in and out files as os.path.join(".","W14_template\W14c.hds_timeseries.processed") (include path, rather than just the file name)

AND make the pst_path = ".", then it executes and writes the files correctly into the pst file.

[2019-10-17 23:57] jtwhite79 commented on #95
I think that Exception is for the `ins_file` argument - it needs to be the path and filename from where the notebook/python is running to where that file resides.  Then `pst_path` is the path from where the control file resides to where the instruction file resides.  For example if the instruction file is in `template` and the control file is in `template` and python/notebook is running above `tem

[2019-10-18 00:06] RebeccaDoble commented on #95
Thanks. Traps for young players! I guess once more examples are publicly available, this should get a little clearer.

[2019-10-18 00:07] RebeccaDoble commented on #96
Thanks. I do remember now.

[2019-10-22 00:53] RebeccaDoble commented on #96
MOD2OBS has a function to interpolate the model heads when observations are between stress periods. Can pyemu also do this, or do I need to use pandas?

[2019-10-22 15:43] jwhite-usgs commented on #96
"its on the list" - currently pandas.

[2019-10-22 15:54] mnfienen commented on #96
it's also worth considering what an interpolated (in time) value really means. I tend to align observations to the end of a stress period whenever possible. Just a thought :)

[2019-10-24 00:10] RebeccaDoble commented on #96
As always, it probably depends on the system and the question being asked. Which is the dominant signal - the summer/winter signal due to pumping and recharge, or the long term decline or rise due to climate, pumping and land use change? How much does it impact model outputs and prediction ranges? If your stress periods were >1yr I suspect not much at all. It would be a nice little paper. I'll add

[2019-10-29 04:25] RebeccaDoble opened #99 "pestpp-ies not running with test case"
Hi there. I'm trying to do a test run with pestpp-ies before I do a full monte carlo run. Think notebook "prior_montecarlo" which I am following like a fool so I can learn this at mere mortal speed. At this point:

"replace the par vals with the first row in the par ensemble"
pst.parameter_data.loc[pe.columns,"parval1"] = pe.iloc[0,:]    #pe.iloc is [num runs,num params]
pst.control_data.noptmax =

[2019-10-29 13:09] jtwhite79 commented on #99
Sounds like the forward bombed and therefore ies has no residuals to write.  Can you check the modflow list file ? Also I think stdout from modflow is redirected to a file - might be a clue there too? Does the model run to completion with the original par vals (before resetting the par values With the first realization)?

[2019-10-29 22:10] RebeccaDoble commented on #99
Yes. The forward bombed. I ran the full sweep overnight and had to drop almost 300 runs. So theoretically only a 40% chance of a single run working. I'll have a look at stdout as well. It's always useful to have some clues for where to look.

[2019-10-29 22:16] jwhite-usgs commented on #99
Ive found that most of the run fails/bad behavior is in the prior sweep - after even one iteration, things clean up quite a bit...

[2019-10-29 23:20] wkitlasten commented on #99
40% seems like a lot, even by my standards, no? Are you using multiple
machines? We found a bad HD on one of our machines by looking in the rmr
file and noticing many failures on the same machine/drive.

On Tue, Oct 29, 2019 at 3:16 PM jwhite-usgs <notifications@github.com>
wrote:

--
"Spheres are pointless."

[2019-11-06 22:18] flydream0428 opened #102 "nested list format for the helper function to generate the PEST control file"
In the function doc, it says the nested format is like this ["lpf.hk",[0,1,2,]]. However, to make it work, it should be in the format like the one below
[["lpf.hk",0], ["lpf.hk",1]],["lpf.hk",2]]

[2019-11-06 22:28] jtwhite79 commented on #102
Good question @flydream0428 . `["lpf.hk",[0,1,2]]` will result in one set of HK pars (of whatever spatial distribution) and apply those pars to layers 1,2 and 3.  The other form, `[["lpf.hk",0], ["lpf.hk",1]],["lpf.hk",2]]`, will result in separate sets of HK parameters for each layer listsed.  I realize this might be confusing but its a way to share parameter sets across multiple model input arra

[2019-11-06 22:31] #102 closed

[2019-11-06 22:44] flydream0428 opened #103 "par bounds when multipliers are used"
Are the bounds for the multipliers or the raw parameters in `par_bounds_dict`, when `PstFromFlopyModel` is called.

[2019-11-06 22:46] jtwhite79 commented on #103
multipliers - all the parameters setup by `PstFromFlopyModel` are multipliers (except `HFB` - @mnfienen , why is that?)

[2019-11-06 23:02] mnfienen-usgs commented on #103
good question - we could make the HFB multipliers for sure. When I implemented it I was keen on avoiding needing the apply method in the `forward_run` script, but that's not a big deal.

[2019-11-07 19:58] flydream0428 opened #104 "Issue to run "python forward_run.py""
I am using miniconda to manage my Python packages. Although I have added Python path into the system environment path variable. I still cannot run "python forward_run.py" directly. It will raise the following error if I run it directly from a cmd window. However, if I run `activate base` first, it works well. I have tried to add  `activate base`  into the PEST control file. PESTPP cannot start act

[2019-11-07 22:20] jtwhite79 commented on #104
are you starting PESTPP from the anaconda prompt (with the `activate base`)?

[2019-11-08 03:15] flydream0428 commented on #104
Thanks, J. I guess this is an issue related to the recent Anaconda distribution. I have found a workaround. I created a batch file as follows. It works now.
====
call C:\Users\cui00e\AppData\Local\Continuum\miniconda3\Scripts\activate.bat
python forward_run.py
mod2obs <mod2obs.in
========

[2019-11-08 03:49] briochh commented on #104
@flydream0428, yes you are defo experiencing an issue with your anaconda distribution. Recent versions rely on environments being activated, when not activated this can result in packages not being found (at least on windows). When running from anaconda prompt this activation is done automatically. I believe this is to try and prevent conda versions of python from stomping on system versions. You’

[2019-11-08 04:10] flydream0428 commented on #104
In case, someone is also facing a similar issue. On my current machine,
"conda activate base" will not work if I call this from a batch file. I
have to use the command starting with "call".

On Thu, Nov 7, 2019 at 9:49 PM Brioch Hemmings <notifications@github.com>
wrote:

[2019-11-17 01:06] #104 closed

[2019-11-17 01:13] flydream0428 opened #105 "zone based parameterisation for GHB conductance"
Can I apply zone-based parameterisation to the GHB conductance? Basically, I want to include a few multipliers for GHB conductance that have been grouped into a few classes based on their locations.

[2019-11-17 01:21] flydream0428 opened #106 "what is the int variable in spatial_list_props ([[`str`,[`int`]]])?"
what is the the int variable in `spatial_list_props ([[`str`,[`int`]]])'?

[2019-11-17 02:32] flydream0428 commented on #106
I got it. It's the layer number.

[2019-11-17 02:37] flydream0428 opened #107 "Is STR (stream flow package) supported currently?"
I have a STR package in the model. I have tried to include a multiplier for str.con by the following code.

`bc_props = []`

`bc_props.append(["str.cond",0])`

`mfp_boss = pyemu.helpers.PstFromFlopyModel(model=m,new_model_ws=new_model_ws,org_model_ws=temp_model_ws,mflist_waterbudget=False, pp_props=pp_props,
obssim_smp_pairs = obssim_smp_pairs, zone_props=zone_props,

[2019-11-17 02:45] jwhite-usgs commented on #105
You can do zones with the tied transform.   The k,I,j is built into the parameter names for boundary list pars.

[2019-11-17 02:50] jwhite-usgs commented on #107
Does STR use the same flopy mflist type to store list directed input?  If so, then it could work.  But some of those more advanced packages use “special” input formats so STR may not follow the structure pyemu is expecting.

[2019-11-20 19:06] flydream0428 opened #108 "update kriging factors after update the pp pars ranges in the pst class"
How can I update the factor files with PyEMU after I change the parameter ranges of some pilot points? The initial factor files were generated automatically when PstFromFlopyModel was called.

[2019-11-20 19:16] jtwhite79 commented on #108
The grid-based kriging factors in generated in `pyemu.geostats.OrdinaryKrige.calc_factors_grid()`, following that call, the factors fie is written by `OrdinaryKrige.to_grid_factors_file()`.  Does that help?

[2019-11-20 19:24] flydream0428 commented on #108
Yes, thanks, Jeremy. For the future, we may add some lines in the pst class to let it update the factor files automatically when parameter ranges are changed.

[2019-11-21 02:36] RebeccaDoble opened #109 "Model calibration"
So I know it's much more useful to interrogate models and look at uncertainty than to history match fluxes and groundwater elevations, but.... client wants old fashioned calibration. At least I can look at uncertainty before and after calibration.

This wasn't really touched on in the July course. Are there any examples of pyEMU being used for history matching? Or even a clue as to the command to

[2019-11-21 02:39] jtwhite79 commented on #109
Essentially, pestpp-glm and pestpp-ies are history matching (calibrating - barf) when they adjust parameters to reproduce observed states.  With ies, the “base” realization is (in theory) the unbiased, minimum error variance parameter set.  With glm, just use the final parameter estimates for the same.

[2019-11-21 02:45] RebeccaDoble commented on #109
OK. That's what I thought. But I still can't get my head around where to put my actual real physical (albeit uncertain and biased) measurements of groundwater head and flux. I'm trying to chuck them into pst.observation_data, but this keeps getting overwritten with model observations (was it John who started calling model outputs 'observations' to confuse 99% of all living groundwater modellers? b

[2019-11-21 02:46] RebeccaDoble commented on #109
Actually, just found my coding error so that it is not overwritten, but I'm still not sure if I have by field observations in the correct location.

[2019-11-21 02:56] jtwhite79 commented on #109
That’s the tricky part with pest in general I think - it’s up to users to make sure the output from the model can and should be compared with the specified observation value in the control file.  It’s not easy to do from a mechanics standpoint.  And it will almost always require some kind of filtering/processing to remove unwanted signal components.  I wish I had an easier way to get this done...o

[2019-11-21 03:28] wkitlasten commented on #109
On a side note, and to avoid any upset stomachs, what is a more acceptable
way to say "the model was calbrated to historical records of..."? I just
can't craft a suitable sounding sentence that includes any form of "history
matching."

Sent from my phone without spell checker. Please excuse my fat thumbs and
bad eyes.

On Wed, Nov 20, 2019, 6:56 PM J Dub <notifications@github.com> wrote:

[2019-11-21 03:48] RebeccaDoble commented on #109
Probably: 'I kicked the parameters around a bit until they showed a crappy but un-improvable fit with the historical measured groundwater heads' sounds a bit sarcastic.

Perhaps change to 'parameters were modified to minimise (or provide one of many possible model realisations that minimised) the RMSE between model outputs and historical observations.'

[2019-11-21 03:52] jtwhite79 commented on #109
Someone once told me I should consult an over-imbibed homeless individual for help with my grammar so you don’t want my opinion here!

[2019-11-21 03:56] RebeccaDoble commented on #109
@jtwhite79 Yeah, I'm not sure. I think it is very project dependent. What I would like is to be able to drag in a number of head and flux timeseries, and for <*magic*> to transform it into a dataframe with the correct observation titles, aggregated (or possibly interpolated) appropriately to the model output frequency, filtered to remove all the Nans and then linked with the appropriate model obse

[2019-11-21 03:58] RebeccaDoble commented on #109
Plus add some what that makes it easy to extract and aggregate flux outputs from a cbc file. - Drains, ET, etc. Which is what I am about to attempt to do (agonisingly slowly and badly)

[2019-11-21 03:58] RebeccaDoble commented on #109
Also, isn't it sleep time in the US?

[2019-11-21 04:04] jtwhite79 commented on #109
Your favorite utility (pyemu.gw_utils.setup_hds_timeseries()) can accept a cell budget file and “text” for what component your are after.

[2019-11-21 04:08] RebeccaDoble commented on #109
Hurrah. Thanks. Good old hds_timeseries.

[2019-11-29 13:48] JOPESTKIL commented on #32
BED BUGS INFESTATION SPREADS LIKE WILD FIRES......
What makes me to wonder is that Bedbugs do not fly, but they can move quickly over floors, walls, and ceilings infesting anywhere. Female bedbugs may lay hundreds of eggs, each of which is about the size of a speck of dust, over a lifetime.
Immature bedbugs, called nymphs, shed their skins five times before reaching maturity and require a meal of

[2019-11-29 13:54] JOPESTKIL commented on #32
BED BUGS INFESTATION...
What They Look Like: Flat oval body with six legs, about the size of an apple seed that can be either brown or reddish brown.Typical ‘Hood: Can be found around the world, but recent outbreaks have centered in the United States, Canada, the UK, and other parts of Europe. Bed bugs are found in environments where many people cycle through on a given day—this includes apartment

[2019-11-29 13:58] JOPESTKIL opened #110 "BED BUGS INFESTATION WORLDWIDE SPREADING LIKE WILD FIRES"
BEDBUGS INFESTATION SPREADING LIKE WILD FIRES
What They Look Like: Flat oval body with six legs, about the size of an apple seed that can be either brown or reddish brown.Typical ‘Hood: Can be found around the world, but recent outbreaks have centered in the United States, Canada, the UK, and other parts of Europe. Bed bugs are found in environments where many people cycle through on a given day—t

[2019-11-29 22:36] mnfienen-usgs commented on #110
SPAM

[2019-11-29 22:36] #110 closed

[2019-11-29 23:08] jwhite-usgs commented on #110
Yup - I reported this crap to github...

[2019-11-30 04:05] JOPESTKIL commented on #110
Why do some react so much in a negative way. Bed bugs are now not something to hide. They are there and more so in high class facilities, flights, homes, institutions and many others. https://www.jopestkil.com

[2019-12-05 11:55] RebeccaDoble opened #111 "More setup_hds_timeseries hurdles"
I'm wondering whether there have been any recent changes to setup_hds_timeseries lately that I somehow haven't captured in my latest download.

I'm trying to extract drain data from the .DRN.cbc file, and I've got:

bin_file = os.path.join(m.model_ws,m.name+".DRN.cbc")
ts = pyemu.gw_utils.setup_hds_timeseries(hds_file = bin_file, kij_dict = drnInfo_T, prefix="drn",

[2019-12-05 21:20] jwhite-usgs commented on #111
I’m not sure what’s happening here.  Lemme look into it.

[2019-12-05 23:05] RebeccaDoble commented on #111
OK. I found them in the 0.9 version guide, but I can't find the 0.9 version to download on this site, only up to 0.8. I'll have another look.

[2019-12-05 23:24] RebeccaDoble commented on #111
Hey, is there any way to check the version of pyemu being used in the Jupyter notebook - perhaps the code is pointing to an earlier version in a different folder without me being aware of it.

[2019-12-05 23:35] jwhite-usgs commented on #111
`pyemu.__version__` echos the version for me...

[2019-12-05 23:36] RebeccaDoble commented on #111
'0+unknown' Ha!

[2019-12-06 01:05] RebeccaDoble commented on #111
Just to confirm, I've downloaded the 0.8 version again today and still get the text and precision errors. It looks like it was updated May '19. Not sure if you've made any changes since then.

[2019-12-06 01:17] jwhite-usgs commented on #111
[https://github.com/jtwhite79/pyemu/commit/2364dd9a7a03e8f41a832d703b403968f0948608](https://github.com/jtwhite79/pyemu/commit/2364dd9a7a03e8f41a832d703b403968f0948608)

I think the support for the `text` and `precision` args wasnt added until Sept `19

[2019-12-06 01:19] RebeccaDoble commented on #111
Thanks! How can I access this version? I've only ever downloaded the releases.

[2019-12-06 01:22] jwhite-usgs commented on #111
Sorry - forgot to push the tag (facepalm!).  The release for 0.9 is there now.

[2019-12-06 02:13] RebeccaDoble commented on #111
Thanks. Got it, but it still doesn't seem to like the text and precision. Could it be because it is accessing the .DRN.cbc rather than straight .cbc file?

[2019-12-12 20:13] flydream0428 opened #112 "deal with ++ control variables using PyEMU"
Does the current version of PyEMU allow people to deal with the PEST++ variables, such as ies_parameter_ensemble() and sweep_parameter_csv_file()?

[2019-12-12 20:16] jwhite-usgs commented on #112
Pst.pestpp_options is a dict of ++ key and value  So pst.pestpp_options[“ies_par_en”] = “prior.jcb” , etc.

[2019-12-14 03:10] flydream0428 opened #113 "obssim_smp_pairs in PstFromFlopyModel class"
What is the file order of obssim_smp_smp pairs? I guess it is ['actual_obs.dat', 'model_generated_obs.dat']. However, the generated pst file actually contains observations from the model_generated_obs.dat. If I switch the order, the obs values will be consistent. But actual_obs.dat will be written to the *model input/output section in the pst file.

[2019-12-14 14:12] flydream0428 commented on #112
@jwhite-usgs thanks. We really need a better doc for the powerful tool. I am happy to help when you plan to do this. :)

[2019-12-16 03:53] RebeccaDoble opened #114 "Best way to add drain cells to obs file"
This is a follow on from a previous issue, but probably different enough to warrant its own heading...

I'm trying to add drain cells to my observations. The problem is that they will be vaguely historically matched against three separate drain gauges that aggregate drainage from a couple of hundred drain cells each. They are not sfr reaches, so I can't use this (they are numbered by row,col, not

[2019-12-16 07:56] jtwhite79 commented on #113
You are correct - the instruction file is being written for the simulated smp, which is correct since this is the file that needs to be read after each model run.  At this point, its up to you to get the observed smp value into the control file `* observation data`.  I'll see if I can get something added to set those values automatically.

[2019-12-16 08:17] jtwhite79 commented on #114
That time series setup routine currently just extracts the values from the cbb file for a single cell at a time.  The simplest solution is probably to inject an additional post-processor call into the forward run script to load the dataframe that the time series processor writes and aggregate the columns into a new column. If you don't care about the single cell DRN outputs, you could just overwri

[2019-12-18 10:16] jtwhite79 commented on #112
I'm thinking the best way to document is with the online docs and example notebooks, similar to flopy - Im dedicated to keeping up the online docs up, they are much better than they used to be.  Open to other suggestions...

[2019-12-18 13:29] flydream0428 commented on #112
I like the flopy model. When I looked through  the repository, I feel I
need a high level introduction/tutorial notebook/doc to highlight the major
components/functions of pyemu. There are some introduction words in the
landing page. However, they are not connected to the
corresponding modules/classes.

Another thing I have noticed is that the links in the top two sections of
the online doc are de

[2019-12-19 02:22] wkitlasten commented on #112
When I started w pyemu (and flopy) I had a similar issue. I saw the power
but didn't really know how to go about accessing it other than to harass
Jeremy. I have heard similar comments from others who would benefit from
using it.

The examples/notebooks are essential but I agree a high level intro would
be helpful esp for those of us who struggle w reading python. I'm not sure
I know what it shoul

[2020-01-06 06:53] RebeccaDoble opened #115 "Obtaining metrics for drawdown - with and without pumping example"
Hi all. I hope you've had a great Christmas and New Year.

I'm trying to get model uncertainty outputs for drawdown from my model through my botched up versions of the course notebooks.

I realise that we did look at drawdown in the course, but I think that it was drawdown comparing heads at SP2 with heads at SP1 (change in head with time). My problem is looking at drawdown from a pumping scenario

[2020-01-06 15:30] mnfienen commented on #115
Hey @RebeccaDoble

You solved it in your speculation :). Basically, you just need to have both forward model runs called in your `forward_run` script (be that Python, batch or whatever). Or, you can set up both control and treatment as distinct stress periods in the same model.

And then some script that calculates the differences the results of which get informed to PEST++ using a typical instruc

[2020-01-06 15:37] jtwhite79 commented on #115
@RebeccaDoble as with as this stuff, there are several ways to achieve your goal!  @mnfienen describes a perfectly viable way.

 Another way is the have the control and treatment models setup with pest interfaces.  Then you run your parameter ensemble thru both the control and treatment models.  Assuming you have monitored the same outputs from both (and the outputs have the same observation names

[2020-01-06 15:39] mnfienen commented on #115
@jtwhite79 makes a great point with this alternative. Advantage here is if you want to work with just the control separately and add the treatment runs later.

[2020-01-08 11:38] RebeccaDoble commented on #115
Thanks! I'll see what works out to be easier to implement.

[2020-01-08 23:12] flydream0428 opened #116 "dead links in the documents"
Are you aware that all links in the top two sections of the document are dead?

[2020-01-08 23:34] jtwhite79 commented on #116
Yes I saw it recently.  The html and css renders and links fine in the browser locally - not sure what’s up...

[2020-01-22 15:28] oscarfasanchez commented on #116
it's still broken :(

[2020-01-25 14:35] oscarfasanchez commented on #116
all the documentation is dead , please help :(

[2020-01-25 14:43] jwhite-usgs commented on #116
https://jtwhite79.github.io/pyemudoc/

If I follow the link on the github landing page, it still takes me to the docs and all of the documentation is still there, it’s just not formatted and the links at the top are broken.  Pull requests happy accepted.

[2020-02-21 16:40] apryet opened #117 "absolute function on parameter value to compute Hill's style parameter sensitivity ?"
If we refer to Hill and Tiedman (2007), Eq. 4.3a p48, there should be an abs() function applied to parval1. Without it, sensitivity values are "upside down" when parameter values are negative. Thanks !

https://github.com/jtwhite79/pyemu/blob/8a889b7ca1b09c031bf3c9fed4e90070db8291f1/pyemu/la.py#L985

[2020-02-21 16:53] jwhite-usgs commented on #117
I’ll take your word for it - I don’t have that book but that sounds reasonable.  PR’s accepted!

[2020-02-28 15:33] oscarfasanchez commented on #109
Hi  did you find an example or something like that, I want to calibrate a model too and I'm lost

[2020-02-28 16:45] jwhite-usgs commented on #109
pyEMU itself doesnt do any parameter adjustments for history matching.  Instead it sets up and post-processes PEST(_HP,++) analyses, including FOSM-based uncertainty and dataworth calcs.

[https://github.com/mnfienen-usgs/GW1876/tree/fy20/activities_stpete/notebooks](https://github.com/mnfienen-usgs/GW1876/tree/fy20/activities_stpete/notebooks) - there is a sequence of jupyter notebooks here that

[2020-04-03 16:13] hwreeves-USGS opened #120 "Add a conditioned field generator to pyemu"
Jeremy, I'd like to add the conditional field generator to pyemu, and I'm wondering if you or other contributors have a preferred approach.  What I'm doing now is having the pest parameter be a seed value sent to the forward model and used in  `numpy.random.seed(value_from_pest)`.  That way the conditioned random field or fields used in the forward model can be re-generated.  I think the options a

[2020-04-03 18:52] jtwhite79 commented on #120
That would be an awesome contribution!  It would be nice to generate a parameter ensemble where grid-scale and/or pilot point realized values are conditional on hard data. `pyemu.en.SEED` is a random seed that gets used in the ensemble classes, ok to use it for the specsim draws also?  As far as which approach to take, I like the idea of having it be seamless (where we gen the factors on the fly)

[2020-04-03 21:48] hwreeves-USGS commented on #120
Looks like its close-  I need to test when the field is using log(K)
and maybe a little bigger domain -- I used the Freyberg model from
your class.

Money figures start on page 23

I hope to push the branch on Monday after the other testing.

HWR

Howard W. Reeves
Groundwater and Watershed Modeling Team Lead
USGS Upper Midwest Water Science Center
5840 Enterprise Drive
Lansing, Michigan 48911
517-

[2020-05-04 06:22] flydream0428 opened #123 "remove parameters and observations through TPL and INS files"
Hi Jeremy, is this function available in the developing branch? If not, I feel it's a useful thing to add. Although, we can do this through manipulating the dataframe directly, it's not handy. It requires extra effort to make the parameters consistent with the tpl files, as well as for the observations and ins files. I am happy to help if you think this is useful.

[2020-05-04 14:05] jtwhite79 commented on #123
It’s not available but would be a great addition!

[2020-05-06 02:57] flydream0428 opened #124 "range and contribution parameters for geostatistical utilities"
v = pyemu.utils.geostats.ExpVario(a=a,contribution=sill,anisotropy=1.0,bearing=0.0)
gs = pyemu.utils.geostats.GeoStruct(variograms=v,nugget=0,transform='log')

Is 'a' the effective range or the 'a' in the exponential variogram?
Does contribution contain the nugget contribution?

[2020-05-06 14:48] jtwhite79 commented on #124
The range of the exponential variogram is approx 3 times the "a" parameter (same as PEST and GSLIB).  The contribution of the nugget is only accounted for at the `GeoStruct` level (not for variograms individually)

[2020-05-18 16:42] mnfienen-usgs opened #131 "Skip comments reading in model input files with Pandas"
Working with the general `PstFrom` functionality. I'm finding a problem with `pandas` version 1.0.1 in that I have files (external well files for individual stress periods in MODFLOW6, in this case) that have comments at the top. somehow, those are not being skipped when pandas reads in the file so the comments are interpreted as strings and makes all the indexing get read as strings. Not sure yet

[2020-05-19 12:57] mnfienen-usgs opened #132 "Groupings for list-directed pars in `PstFrom`"
Another `PstFrom` issue. I have a couple cases of list parameters (e.g. lakebed conductance in a couple zones within a lake and stream reaches for SFR K) that it would be great to assign parameters to grouped by those zones. There is a column in each case by which unique values could be grouped and parameters assigned for each unique value. This was pretty easy to do outside `pyemu` but i think it

[2020-05-19 14:15] jtwhite79 commented on #132
I don’t know if this helps, but I was recently setting up sfr pars by including the reach number col in the index cols list so that the reach number makes it into the par name - is that what you are after?  Maybe you could include that zone column in the par name via index cols?

[2020-05-28 00:40] briochh commented on #131
Hi @mnfienen-usgs, Thanks for the effort in trying to beat up this `PstFrom()`. It sounds like you are fully succeeding. If you know how many comment lines there are in your input file, you should be able to set `mfile_skip=n`. These should then be read as a header and not as part of the pandas df. Maybe we also need to look into being able to specify a comment line identifier like you suggest, an

[2020-05-28 01:11] mnfienen-usgs commented on #131
Hey @briochh  - this generalization of the `PstFrom` stuff is a great contribution! Already stoked about it!

I suspect there are a few pandas reading things that would help, but adding an option like `comment_char=#` that you then pass to `read_csv` would be rad as a start. I just didn't want to break any of the reading logic. What do you think?

[2020-05-28 01:32] briochh commented on #131
That should work off the bat so long as the comment char is at the start of the line. But if we are thinking about comment chars (which I think we should) we will probs need to support them elsewhere in lines --- for this we will need to get a bit smarter about how we read, unless we are happy to lose the comments, I which case I think we can pass `comment_char` to `comment` in `pandas_read_csv()`

[2020-05-28 02:07] mnfienen-usgs commented on #131
excellent point! Supporting arbitrary comments would be good. But, then again, that also breaks the paradigm of a CSV tabular format, so maybe we are OK with just front-of-line comment for now.

[2020-05-28 19:53] mnfienen-usgs opened #133 "Allow loading `.pst` file with incomplete sections"
On a project with multiple people on the team, we have one group working on parameters and another working on observations. So.....it would be really ideal to be able to create a PST object in pyemu with, for example, only parameter data. Currently, if there are no observations, pyemu will not load. It would be nice to allow it to load (thence to add observations to the object) and just throw a wa

[2020-05-28 22:03] jtwhite79 commented on #133
It’s probably possible now if you don’t pass a filename to the constructor and build up the components manually using the dtype and field name info in pst_utils.  I guess we could add an optional forgive arg similar to what’s in flopy but I’m wondering how common this use case is?  Or can the new ctl file fmt handle this more easily since everything is stored in ext csv files?

[2020-05-29 14:25] #84 closed

[2020-05-29 14:25] #90 closed

[2020-05-29 14:25] #95 closed

[2020-05-29 14:26] #96 closed

[2020-05-29 14:26] #99 closed

[2020-05-29 14:26] #103 closed

[2020-05-29 14:26] #105 closed

[2020-05-29 14:26] #106 closed

[2020-05-29 14:27] #107 closed

[2020-05-29 14:27] #108 closed

[2020-05-29 14:27] #109 closed

[2020-05-29 14:27] #111 closed

[2020-05-29 14:27] #112 closed

[2020-05-29 14:28] #113 closed

[2020-05-29 14:28] #114 closed

[2020-05-29 14:28] #115 closed

[2020-05-29 14:28] #117 closed

[2020-05-29 14:29] #120 closed

[2020-05-29 14:29] #124 closed

[2020-05-30 01:45] briochh commented on #131
@mnfienen-usgs, can you check if these changes work for you? Super thanks.

[2020-05-30 14:43] mnfienen-usgs commented on #131
@briochh, looks like it worked in my case - thanks heaps! I had comments only in the header row and everything worked fine. The comments were not preserved when the output was written again, but not sure how important that is. BTW - I only tested adding a `comment_char` arg. Thanks for the edit!

[2020-05-30 14:43] #131 closed

[2020-06-01 06:14] briochh commented on #132
Hi @mnfienen-usgs, I think the most straight forward approach would be to follow as @jtwhite79 suggests. You can use that column as an `index_col` this will get passed through to the eventual parameter name which you can group however you like. Are you looking at passing a subgroup to a call of `add_parameters()` ? or enabling some sort of query to only set up pars where a certain condition is met

[2020-06-01 16:51] mnfienen-usgs commented on #132
I'll mess with that, but sounds like it should work. Thanks both of you!

[2020-06-01 16:51] #132 closed

[2020-06-06 20:48] jtwhite79 opened #136 "moving to mp.Pool with apply_async"
@briochh - On my fork in the `feature_pstfrom_dev` branch Ive swapped to multiprocessing Pool(s) and to `apply_async` for both fac2real and process model inputs because this allows us to pass exceptions back to the main thread and then they get raised (@mnfienen found that otherwise, the worker threads could be bombing but the main thread will just continue).  But `apply_async` is only py3...so...

[2020-06-07 00:14] briochh commented on #136
All good with me @jtwhite79

[2020-06-10 19:48] mnfienen-usgs opened #140 "`PstFrom` support for multipliers AND base par vals?"
So, @jtwhite79 and I were discussing the potential need to allow support for base parameters in addition to multipliers when using `PstFrom`. For sure, both have good use.

One thing that would be ideal, in my opinion, would be to allow users to still parameterize some property in multiple ways (e.g. const, zone, pp, grid) but assign one of those to be at a base value and the others to be mults. T

[2020-06-11 00:54] mnfienen-usgs commented on #140
haha! you guys give me too much credit. In any case, a couple thoughts

0. I agree we should probably not stomp on the files in `org` so I think in cases where direct pars are used, we maybe rely on the TPL file to write the "base" file in org (but don't actually keep the original model files) and then apply mults as we normally would

1. As for having multiple methods to add direct vs. mult pars,

[2020-06-15 16:05] jwhite-usgs commented on #140
@briochh - Im getting started on this today.  I'll submit a PR to the `feature_pstfrom_dev` branch once I have something that seems like it might kinda sometimes maybe work as expected.

[2020-06-16 21:34] briochh opened #145 "`PstFrom` use of underscores in auto names"
I'm thinking of dropping some of the underscores in the automatic par and obs names in `PstFrom()` to make extraction of metadata within names easier. So instead of "use_col:x_..." we would have "usecol:x_..." .
Super minor but just checking for anything unforeseen.

[2020-06-16 22:13] jtwhite79 commented on #145
I think anything we can do to make parsing those names into metadata is a win...

[2020-06-17 01:43] mnfienen-usgs commented on #140
looks like a good start - thanks for jumping on it!

[2020-06-17 01:43] #140 closed

[2020-06-19 22:30] #145 closed

[2020-07-01 12:24] gmerritt123 opened #149 "csv_to_ins function in pest_utils: Handling non-numeric dtypes in columns of model output OTHER than first column"
Hi

If my model output file contains strings other than in the first line, and I use the csv_to_ins file to generate an ins file for it, !dum! fills each column other than the columns I specify in the 'only_cols' argument. If I call the read_output_file function using the resulting ins, I get an error. See working example below:

[code]
Yields this error: 'InstructionFile error processing output f

[2020-07-01 21:16] jtwhite79 commented on #149
That instruction file class tries to mimic what pest and pest++ do so it’s strict about being able to cast “dum” to a float.  But the “dum” approach (haha!) is an easy way to “count” past unused columns.  We could switch to the whitespace (“w”) instruction but that require treating the comma as a whitespace too (which pest++ can do and pest might) and this might cause trouble for datetime strings

[2020-07-01 22:03] briochh commented on #149
Yes! In fact I think the changes in the feature branch `feature_pstfrom_dev` do just this. I have leaned pretty heavily on this function in the PstFrom development and made quite a few changes to the ins file.  @gmerritt123, are you able to checkout these changes on that branch a see if they work for your use-case? There will probably be a fair bit in there that isn't necessary for your case but I

[2020-07-02 12:40] gmerritt123 commented on #149
Thanks for getting back to me @jtwhite79

@briochh I cloned `feature_pstfrom_dev` and got same behaviour.

I drafted up two test functions in case that helps (see attached). Both of these throw an error when calling the read_output_file function on both master branch and` feature_pstfrom_dev ` .

For the datetime tests, it looks like it does indeed parse the space in the datetime field into a date

[2020-07-02 21:26] briochh commented on #149
Hi @gmerritt123,
Thanks for the tests, that really helps. Just to clarify, do you get the same error with `read_output_file()` both `master` and `feature_pstfrom_dev` branch? From what I can see, "!dum!" shouldn't feature in the instruction file created by the `csv_to_ins_file()` method in `feature_pstfrom_dev`. -- make sure you have run `git checkout feature_pstfrom_dev` to switch branches.
For m

[2020-07-08 15:36] gmerritt123 commented on #149
Hi @briochh sorry for the delay (holidays...).

1) apologies about the assert statements being incorrect. They should be:

[code]

2) It's greatthat the tests check out on `feature_pstfrom_dev` for you (except for my poor assert statement writing). Can you just verify that these corrected asserts pass on your end, and I'll try to properly check out and import `feature_pstfrom_dev`

Thanks for your

[2020-07-09 01:11] briochh commented on #149
Hi @gmerritt123,

Good news is that we have just merged `feature_pstfrom_dev` into the `develop` branch. Hopefully that'll will make it easier for you to access these changes in the code.

On your particular issue. We are always going to struggle set up PEST observations for entires that are not sensibly cast to float - like datetime strings. As @jtwhite79 mentioned that `read_ouput_file()` method

[2020-07-09 02:06] jtwhite79 commented on #149
I wonder if the issue is that the columns preceding the obs column(s) are not Float, so using “dum” fails, but might have varying white spaces (like date time strings) so it’s hard to use the “w” instruction.  If that is the issue, we almost need a new instruction, similar to “line advance” except it would be “column advance”, so it would skip a certain number of chars before starting to process t

[2020-07-09 02:33] briochh commented on #149
I'm not sure if that is the issue in this instance, but you are right we will hit issues if whitespace delim and some entries may or may not contain whitespace. In that case, personally, the easiest solution would be to reprocess results to strip that out non-delimiting spaces (or other marker chars) or make comma delim. Column advance is starting to sound like fixed formatting and we are probably

[2020-07-09 14:13] gmerritt123 commented on #149
Thanks @briochh , I don't have "real" model output with datetime strings at the moment but mainly just was curious to see what would happen if I had a string with whitespace in it - I just picked datetime as a good example where it could happen. It's pretty straightforward for me to add a line or two of preprocessing to make it work I agree.

So to try and summarize: the latest dev branch will all

[2020-07-09 21:57] briochh commented on #149
No problem @gmerritt123, If your model output file is **comma** delimited (as it is in your example test) then whitespaces in strings shouldn't be an issue; as long as they are not an output to be fed into PEST then the instruction will be to skip that column (essentially move to the next occurrence of ',').

[2020-07-23 17:21] jwhite-usgs opened #158 "PstFrom index_cols and use_cols defaults"
Currently, at least for `PstFrom.add_observations()`, I think you have to pass `index_cols` and `use_cols` but could we just use the first column for the index and all remaining columns for `use_cols` if either arent passed?

[2020-08-11 17:32] jwhite-usgs opened #162 "PstFrom apply_list_pars and pandas 1.1"
@briochh - looks like some trouble is brewing with pandas 1.1.  The mfnwt freyberg PstFrom is bombing and its something to do with broadcasting a multiindex when applying the riv package list pars - yuck!  Can you check it out?

[2020-08-11 18:49] briochh commented on #162
I'll take a look.

[2020-08-11 22:20] briochh commented on #162
This issue seems to relate to a change in behaviour in pandas. Index.intersection() is now returning duplicated indices that intersect. I don't think this is a bug in pandas and perhaps this is more consistent with how duplicates are handled elsewhere. Duplicates in the intersection meant that we were double duplicating indices in that broadcast, not ideal!
Anyway the #163 hopefully fixes this.

[2020-08-12 00:03] jtwhite79 commented on #162
Thanks B.  Looks good!

[2020-08-12 00:15] #162 closed

[2020-08-13 14:03] mnfienen opened #164 "plotting resids with PDC"
In cases where `++ies_drop_conflicts` is True, it would be nice to eliminate those dropped obs (especially if they are really really bad!) from plots like 1to1 plots. A simple flag could be supplied to `pst.plot(kind='1to1', drop_pdc=True)` for example, that reads the csv file with PDC-dropped obs and just removes them before plotting.

I can implement, but wanted to see if anyone has objections o

[2020-08-13 14:53] jwhite-usgs commented on #164
I think we do need to get better at handling conflicts in general.  But instead of dropping, what about having them washed out or otherwise colored differently or at least have that option?  There is a more advanced PDC detection routine in helpers now so we could potentially just call that under the hood in the plotting so that we dont have an external file dependency (that may change in the futu

[2020-08-26 08:52] scalet98 opened #167 "PyEMU for gw only and Wrong numpy version ?....."
Hello !
I have two issues...

First issue is about the  numpy version error.
In the requirement file, I think you have wrong package version for numpy,
Because v1.19.1 for numpy is the most current one. :)

numpy>=1.9 need to be changed into numpy>=1.19

requirement ----------------------------------
numpy>=1.9
pandas>=0.18.1
pyshp
codecov
coverage

Second issue... as I know you have surface water

[2020-08-26 14:47] jwhite-usgs commented on #167
Hey @scalet98 - I may be mistaken, but I think numpy version 1.9 is an older version, where 1.19 > 1.9.

On the topic of surface water models and PEST/pyEMU, pyEMU, like PEST, is model independent so it can be applied to "any" model that you can wrap PEST around.  There is some new functionality to help automate the PEST interface setup - that is in the `PstFrom` class.  Its been a while since I p

[2020-09-07 04:10] wkitlasten opened #169 "geostatistical_prior_builder dataframe also needs "zone""
Fails at line 249 if struct_dict contains dataframes without "value" column.

Possibly change from:

if "zone" not in df.columns:
    df.loc[:,"zone"] = 1

to:

if "zone" not in df.columns:
    df["zone"] = 1

[2020-09-07 04:51] wkitlasten opened #170 "geostatistical_prior_builder says parameters not found in control file"
I get the warning for every df I pass that none of the parnme exist in the pst file. The resulting parcov is diagonal, so the warning makes me suspect something strange is a foot. Otherwise, can someone suggest what I am doing wrong?

I am building it thusly, and appending dataframes to sd[gs]:

sd={}
vt = pyemu.utils.geostats.ExpVario(a=100,contribution=1.0)
vx = pyemu.utils.geostats.ExpVario(a=1

[2020-09-07 14:22] jwhite-usgs commented on #170
It’s hard to say what might be happening here - there is a lot of str compare happening and expectations about indices and column names.  Can you post/send me your files so I can take a look?

[2020-09-07 14:22] jwhite-usgs commented on #170
It’s hard to say what might be happening here - there is a lot of str compare happening and expectations about indices and column names.  Can you post/send me your files so I can take a look?

[2020-09-08 20:41] wkitlasten commented on #169
Must have been an old issue. Seems to work fine now without zone.

[2020-09-08 20:41] #169 closed

[2020-09-08 20:48] wkitlasten commented on #170
I think par.parnme needs .to_list() when checking for missing (line 170):

'my_par' in pst.parameter_data.parnme.to_list()
returns True

but
'my_par' in pst.parameter_data.parnme
returns False

Sorry I suck at git. One of these days....

[2020-09-08 21:51] briochh commented on #170
Hi @wkitlasten, I think you are on to something here. Not sure exactly which line you are referencing but I think for pandas Series the `if in pd.Series` actually cross-checks the Series index. Now, normally the `pst.parameter_data` DataFrame has an index that actually mimics the `parnme` values so that `if` statement (`'my_par' in pst.parameter_data.parnme`) should check-out. However, I notice th

[2020-09-08 22:39] jwhite-usgs commented on #170
I’d say we are sensitive to this issue elsewhere.  That’s why most of the generator routines are strict about setting a parnme/obsnme col and then that col as the index.  Might be some work to get around this issue also

[2020-09-08 22:44] wkitlasten commented on #170
Also, I forgot I had thrown in a par.parnme=par.parnme.str.lower() above.
When I take either out I get the message about missing parameters in the
control file. I was under the impression pst.parameter_data.parnme were all
cast to lower throughout, no?

On Tue, Sep 8, 2020 at 3:40 PM jwhite-usgs <notifications@github.com> wrote:

--
"Perfect spheres are pointless."

[2020-09-09 01:21] wkitlasten commented on #170
Hey Brioch, yes I had reindexed my pst.parameter_data. So, am I supposed to have parnme as the index AND a column name? I think this is fairly new, but you get "'parnme' is both an index level and a column label, which is ambiguous" when you sort with both:

C:\Anaconda3\envs\p3x64\lib\site-packages\pyemu\utils\helpers.py in geostatistical_prior_builder(pst, struct_dict, sigma_range, par_knowledge

[2020-09-09 02:19] jwhite-usgs commented on #170
Everything is handled as lower case but if you are rolling your own, there is ample opportunity to slip in some case problems!

[2020-09-09 02:38] wkitlasten commented on #170
Thanks Brioch, pst.parameter_data=my_garbage_df is the source of these silly upper case letters and the index problem! So no need for that .to_list() unless you are trying to make it Wes proof, in which case you are going to be busy!

I did run into the ambiguity issue with sort_values when the index has the same name as a column, but again, that's my problem!

Thanks

[2020-09-09 15:52] #170 closed

[2020-10-01 20:14] mnfienen opened #173 "res_phi_pie in plot_utils.py"
two quick things:

0) I think this:
[code]
should be:
[code]
As is, seems setting the `kwarg` 'include_zero' to `True` will actually exclude zero (like the docstring says - why do that anyway ?)

1) Propose another `kwarg` called `label_comps` that takes a list of potential components for the labels. Basically, any combo of  `['name', 'phi_comp', 'phi_percent']` since labels can get cluttered in t

[2020-10-01 20:30] jtwhite79 commented on #173
sounds good to me!   I think you are right about the include_zero stuff and I agree that the labeling does get cluttered quickly with lots of groups...

[2020-10-01 20:32] mnfienen commented on #173
right on. PR shortly

[2020-10-01 20:32] #173 closed

[2020-10-08 20:29] jesshe opened #175 "Linear analysis with log transformed parameters"
Sorry if this is a naive question.

I'm trying pyemu for some linear analysis on the parameters of a calibrated groundwater model. These parameters have been log transformed for PEST calibration, but I'm interested in looking at posterior confidence intervals for the non-transformed parameters. When calculating parameter variance from upper and lower bounds in the .pst, pyemu appears to use log tr

[2020-10-09 14:23] jtwhite79 commented on #175
Pretty solid question - I think there is a lot of confusion about the log transform and how it propagates thru these workflows.  As you say, using log transforms does help the parameter estimation problem mechanically by scaling and normalizing things.

But beyond helping with the parameter estimation problem, using log transform implies that in the prior parameter distribution (in a Bayesian sens

[2020-10-09 15:13] jesshe commented on #175
Thanks for the clarification! Really helpful!

Working with PEST previously, I just log transformed the parameters (seeing the shiny promise of better performance of estimation) without much thought on how it affects the underlying assumed probability distribution.

In a case where you believe parameters in arithmetic space are more appropriately described by normal distributions, would you recomm

[2020-10-09 15:28] jtwhite79 commented on #175
exactly - both PEST(++) and pyEMU will mix and match non-log and log parameter seamlessly under the hood for all the calculations that are sensitive to log status.  Just have to make sure the log (or not) transform for all parameters is consistent between the control file, Jacobian, and any aux files (like uncertainty files, covariance matrices, geostat structure files, etc)

[2020-10-09 15:35] #87 closed

[2020-10-09 15:35] #116 closed

[2020-10-09 15:36] #133 closed

[2020-10-09 15:36] #149 closed

[2020-10-09 15:37] #167 closed

[2020-10-10 20:08] #175 closed

[2020-10-18 19:42] Lau397 opened #176 "Pilot Points Setup"
_Hi there!_

_I'm trying to add some pilot points (MODFLOW 6) as follows:_

[code]
_On ibound I've tried these ways: m.dis.idomain.array, m.dis.idomain[0].array, m.npf.k.array, and much more... similar to all that (even ignoring the ibound part). The issue I've encountered is no matter how I try to put or not the ibound criteria it always throws this error:_

[code]
_What am I doing wrong :(? Is t

[2020-10-18 20:46] jtwhite79 commented on #176
I think what is tripping you up is the assert on 78 to make sure the `ml` is a `flopy.modflow.Modflow` because that routine relies on `ml.sr` for spatial referencing. We probably need to update the code to use the `ModelGrid` attribute instead (and this should get you going thru with a flopy modflow6 model instance).

If you want to do pilot points in multiple layers and/or with differing ibounds,

[2020-10-20 00:07] briochh opened #177 "OverflowError: int too big to convert"
Looks like trouble might be brewing with pandas 1.1.3. when assigning floats to slices of int columns.

I think this is why @wkitlasten's [commit](https://github.com/pypest/pyemu/commit/c39b3fdb15320e2314c1ad202c665348d2d7151b) is failing. Can submit a quick PR to fix for this case (as we probs don't need to make the assignment for int columns), but worth keeping an eye out for similar actions in

[2020-10-20 01:05] #177 closed

[2020-10-20 01:37] wkitlasten commented on #177
I'm confused. Did I commit something more than just adding the "." to the
extension?

On Mon, Oct 19, 2020, 6:05 PM Brioch Hemmings <notifications@github.com>
wrote:

[2020-10-20 01:43] briochh commented on #177
Nope you are all good @wkitlasten -- it is just that there was a also a pandas update in the meantime, so the code broke. I just linked you in to the issue, in case you were worried about it. You probably weren't, nor do you need to be, so just ignore me!

[2020-10-20 02:11] wkitlasten commented on #177
:) ... love the moving targets!

On Mon, Oct 19, 2020 at 6:43 PM Brioch Hemmings <notifications@github.com>
wrote:

--
"Perfect spheres are pointless."

[2020-10-28 02:06] aleaf opened #179 "proper way to run tests locally"
@jtwhite79 , I would like to work on the pst_from module (specifically, to get it to support data files within a subfolder, but maybe some other features as well), but first I'd like to be able to run the relevant tests to make sure I'm not breaking anything. I tried ``nosetests -v -w ./autotest pst_from_tests.py`` ( similar to what's in ``.travis.yml``), but am getting a bunch of errors, which mo

[2020-10-28 02:45] jtwhite79 commented on #179
First of all, awesome!  Any enhancements to PstFrom (esp dealing with the pathing nightmare) are welcome.

I think if you add the pestpp binaries to the location of the bin_path variable (set at the top of pst_from_tests.py) nosetest should go with the way you are calling it from root.  You can call nosetests from within the autotest subdir if you leave off the -w flag.  I usually run the test scr

[2020-10-28 16:01] aleaf commented on #179
@jtwhite79 Thanks, can you remind me where I can get the pestpp mac binaries? I'm just seeing windows and linux in the releases at https://github.com/usgs/pestpp.

[2020-10-28 16:31] jwhite-usgs commented on #179
well, this is where it gets tricky.  We've had some issues building fully-statically-linked binaries for mac.  @briochh was able to build the pestpp tools on mac using cmake and clang with these instructions:

[https://github.com/usgs/pestpp/blob/master/documentation/cmake.md](https://github.com/usgs/pestpp/blob/master/documentation/cmake.md)

I'll build them again with intel and send them your wa

[2020-10-28 16:34] aleaf commented on #179
ok, thanks. I can follow up with @mnfienen too. Have previously just gotten them from him but was hoping there was a more robust solution. I know there have been some issues.

[2020-10-28 16:37] jwhite-usgs commented on #179
[pestpp-5.0.5-mac.tar.gz](https://github.com/pypest/pyemu/files/5453427/pestpp-5.0.5-mac.tar.gz)

These were build with intel c++.  Lemme know if they work

[2020-10-28 16:41] mnfienen commented on #179
FWIW, most of these have worked in serial mode, but I had trouble with parallel run management. I'll try these as well. maybe we can get a build solution going along with the MODFLOW 6 team - I know they've been able to distribute Intel Mac binaries for the MODFLOW family of codes

[2020-10-28 16:46] jtwhite79 commented on #179
I'm keen to try to work it out but the mf6 guys only need for Fortran and c runtime libs (not pthreads, winsock etc) which makes static linking much much much easier!

[2020-11-06 17:22] aleaf opened #184 "pst_from.add_parameters: do the values in index_cols need to be ints?"
I came across this by accidentally not specifying a ``comment_char`` in the following call to ``add_parameters``, which caused the ``index_cols`` (including the header) to be read a strings.

[code]
this then caused this line (2532) to fail:
[code]

If ``index_cols`` should be comprised of ints, then would be good to add a check for this in ``_get_tpl_or_ins_df`` so that the user gets a more helpf

[2020-11-07 22:55] jtwhite79 commented on #184
Sorry for the delay @aleaf .  Can you post the first few lines of the well list file that's causing the problem?

[2020-11-09 18:08] rhugman opened #185 "pst_from.add_parameters() for x-section model"
Hello,

Cross-post from stackoverflow as recommended by @jtwhite79:
https://stackoverflow.com/questions/64662011/pyemu-add-parameters-from-a-modflow6-2d-cross-section-model

The following exception is returned when attempting to read parameters for a cross-section model:
[code]

@jtwhite79 suggested it is probably related to how numpy loads a 1-D row of numbers.

[2020-11-09 18:14] jtwhite79 commented on #185
Sorry for the delay on this.  The issue is related to forcing the array to be loaded as 2D.  I've got a fix in now and if the tests pass, I'll merge it into the develop branch.

[2020-11-09 19:39] aleaf commented on #184
something like this would do it:
[code]
again, this case is a user error, but I could imagine a situation where someone might want to index wells by site IDs (supplied as boundnames), which would be strings.

[2020-11-10 01:50] briochh commented on #184
Hi @aleaf, I think this is a good thought. I guess the assumption that we were working with was that `index_cols` would refer to something positional within the model. But I guess there is no reason that an index_col couldn't be a unique string ID too, so we should probably support. Hopefully just a case of routing around that zero-based adjustment line but it may trip things up elsewhere. I'll ta

[2020-11-10 02:51] jtwhite79 commented on #185
#186 should have this fixed.  Let us know if not.

[2020-11-10 17:01] rhugman commented on #185
Awesome, works. Thanks!

[2020-11-10 17:01] #185 closed

[2020-11-11 17:24] rhugman opened #188 "pst_from.add_parameters - MF6 list parameters with auxiliary variables"
Hi again,

I am trying to add list file parameterization for **a single column** in a **file with multiple columns and auxiliary variable names** (for example below, a GHB in a 2D x-section variable density model).
[code]
From the documentation, I assume that assigning` index_cols=[0,1,2], use_cols=[5]` informs `pst_from `to use the first three columns as [row, lay, col], and column 5 as the colum

[2020-11-11 18:12] briochh commented on #188
Hi @rhugman, great that you are stress testing this PstFrom functionality. Thanks for your patience! It sounds like you are setting it up right, could you send a snippet of your add_parameters() line?

[2020-11-11 18:29] rhugman commented on #188
Sure thing. See attached.
[gwf.ghb_stress_period_data_1.txt](https://github.com/pypest/pyemu/files/5525991/gwf.ghb_stress_period_data_1.txt)

**Code snippets:**
This returns the error above:
[code]

This works (as in, pyEMU carries on and pestpp-ies runs):
[code]

This also works (unique parameter per cell):
[code]

[2020-11-11 18:45] jtwhite79 commented on #188
I wonder if the issue is using direct constant pars?  I think only grid-type pars are support for the direct-style pars on list-type files since grid-type is the only one that can represent potential variability in the `use_cols`

[2020-11-11 19:19] briochh commented on #188
@jtwhite79 that would make sense. Do we want to support constant direct par setup? Seems like there might be use case such as this. Else we probs do need to warn earlier.

[2020-11-11 19:25] jtwhite79 commented on #188
I don't see why we couldn't support it.  We just need to check that all the use cols have the same value.

[2020-11-18 03:27] briochh commented on #188
Hi @rhugman, do the changes on #187 help with this issue?

[2020-11-19 09:03] rhugman commented on #188
Thanks @briochh, seems to have resolved it.  Cheers

[2020-11-19 09:03] #188 closed

[2020-11-19 09:12] rhugman opened #190 "pst_from: forward_run.py with no multiplier parameters"
The following line seems to be added to `forward_run.py` by default:

`pyemu.helpers.apply_list_and_array_pars(arr_par_file='mult2model_info.csv')`

An error is returned if no "multiplier" parameters are used (yes, yes, why whould you ever want to do such a thing?! :) ). Stripping that line from  `forward_run.py` resolves it.

[code]

[2020-11-19 15:38] jtwhite79 commented on #190
@rhugman - Im trying to repro this problem but it looks like there is a conditional to handle the no-mlt_file situation on line [3616 of helpers.py](https://github.com/pypest/pyemu/blob/5e85fb60d2d9fbc428ee571a9b62e84ed4c7a558/pyemu/utils/helpers.py#L3616).  Are you using the develop branch?

[2020-11-19 16:08] rhugman commented on #190
Yes I am. I just updated and am no longer able to reproduce the error. My bad - sorry about that.

[2020-11-19 17:33] jtwhite79 commented on #190
No probs @rhugman.  Please keep reporting any issues you find!

[2020-11-23 23:32] aymanalz opened #193 "Add parameters list file produces tpl file that seems to be incompatible with input file"
pf.add_parameters(filenames= "sfr_cond.csv", use_cols = ["cond_value"], par_type='grid', index_cols=['ZoneID'],
                  par_name_base="sfr_", pargp="sfr_cn", upper_bound = 1.5, lower_bound=0.5)

The parameter input file "sfr_cond.csv" is

Unnamed: 0 | parnme | cond_value | ZoneID
0 | sfr_zone_0 | 9.879605293 | 0
1 | sfr_zone_1 | 0.003133586 | 1
2 | sfr_zone_2 | 0.138467833 | 2
3 | sfr_zo

[2020-11-23 23:42] briochh commented on #193
Hi @aymanalz,

This doesn't look horrific, the tpl files won't necessarily related to model input files, as they are not mapped to model input files until the `apply_mult()` methods are called.

Is there are specific error that you are getting when you run PEST or the `apply_mult()` methods?

[2020-11-23 23:42] #190 closed

[2020-11-23 23:45] jtwhite79 commented on #193
I think that tpl is for the multiplier process.  Can you try using direct-style pars for this and see how the tpl file turns out (Im not sure about that vertical bar sep tho...)

[2020-11-24 01:51] aymanalz commented on #193
Thank you @briochh  and @jtwhite79 for your quick reply! In fact I did not apply_mult(). I was checking the generated files after I added new set of parameters using pf.add_parameters().
I tried the direct-style and it does what I need.  I noticed two things:
(1) if we use index_cols that has a field name with upper case, an error will occur. For example index_cols=['Zone'] will not work but index

[2020-11-24 01:52] aymanalz commented on #193
Please ignore vertical lines and dashed lines they occur as i copy from csv file opened in excel.

[2020-11-24 01:57] briochh commented on #193
That missing header sounds familiar. It was possibly related to #184 and hopefully fixed in #187. Are you using the latest on `develop`? If you are then will need to look into it a bit more.

[2020-11-24 04:19] briochh commented on #193
Should be some updates from then. Give it a quick `git pull` and see how that goes.

[2020-11-24 18:56] aymanalz commented on #193
Problem solved! I was working from a fork that is not in sync with main repo. Thank you!

[2020-11-24 19:08] briochh commented on #193
No problem @aymanalz. Keep reporting issues you find!

[2020-11-24 19:09] #193 closed

[2020-11-25 13:06] rhugman opened #195 "PstFrom.add_observations() - short names?"
Hi,

I am using `pyemu.utils.PstFrom(longnames=False, ...)` and `pf.add_observations` with `index_cols` & `use_cols`, but getting very long observation names (including the string "usecol:" in the obs name). These can become very long, specially if the `index_col` is "time".

Is there a way to force a maximum obs name length? Or for the user to provide obs names upfront? In particular to respect i

[2020-11-25 15:53] aleaf commented on #179
@jtwhite-usgs thanks, the above binaries seemed to work well on my mac, at least for the purpose of running the tests.

[2020-11-25 15:53] #179 closed

[2020-11-25 15:58] jtwhite79 commented on #195
@rhugman - you are right:  when requesting shortnames, PstFrom only made short par names.  Ive a patch testing for this now.  I agree it is important to support the 12 and 20 char names for interop - that was the idea with the longname flag!  I'll let you know once the tests pass.

[2020-11-26 03:38] Lau397 opened #196 "Workers won't initiate"
_Hi there!_

_I'm really not sure if it's the code or not this time but I've been encountering this issue for quite some time now. When I try to execute a PEST project, the workers won't start and the program doesn't do anything else nor shows me any error whatsoever. This is a little piece of the code I'm executing:_

[code]

_And this is what I'm getting. It gets stuck here and won't do anything

[2020-11-26 04:52] wkitlasten commented on #196
Are your worker directories being created (i.e. in workspace)? Sometimes
the .rec or .rmr file in a worker directory will give clues.

On Wed, Nov 25, 2020 at 7:38 PM Laura <notifications@github.com> wrote:

--
"Perfect spheres are pointless."

[2020-11-26 18:37] jtwhite79 commented on #196
In addition to checking for the worker dirs like @wkitlasten  suggested, might also want to try a different port and also try running this outside of the notebook (looks like you are running in the notebook maybe?).  Let us know how it goes...

[2020-11-26 19:11] jtwhite79 commented on #195
This should be fixed as of #197 - let us know if not...thanks again for your patience!

[2020-11-26 20:18] rhugman commented on #195
Awesome, thanks. Seems to work so far!

[2020-11-26 20:18] #195 closed

[2020-12-01 00:37] Lau397 commented on #196
_Hi there, thank very much! Yes, I'm running the code using the Jupyter Notebook. In the folder called 'workspace' is where the worker directories are, indeed :)._

_What we ended up doing was that we checked carefully the folders as suggested :). In fact, we checked each folder in the code. Turns out there was a folder with a space in its name, we changed that thinking it'd work... Aaaaand after

[2020-12-01 00:46] jtwhite79 commented on #196
Good to know.  I saw something recently where conda was struggling on windows with paths that have spaces in the names.  The work around for that is to use the anaconda power shell.  Are you running the notebook from the anaconda prompt?

[2020-12-01 16:04] mrush-usgs opened #198 "Pst Class Modifies Control Data"
Hello, I am using the Pst class to work with the parameter data section of my control file as a dataframe. When I go to write the updated control file, I have found that the control data section has also been modified, for example:

illegal entry "noderforgive" is added on line 6:
   1.000000E+01   2.000000E+00   1.500000E-01   1.000000E-03       100        30          lamforgive        noderforgi

[2020-12-01 16:22] jtwhite79 commented on #198
Thats happening because pyemu doesnt yet handle all those additional control data options.  If you can post your control file, I'll see if I can get those additional options supported.

[2020-12-01 16:31] mrush-usgs commented on #198
Thanks! I am able to avoid writing "noderforgive" by setting pst.control_data.derforgive = '' for example, but I haven't found a way to avoid writing "parsaveitn parsaverun parsaveitn noparsaverun"

[sm.zip](https://github.com/pypest/pyemu/files/5623946/sm.zip)

[2020-12-01 17:52] jtwhite79 commented on #198
sm.zip has "parsaveitn parsaverun parsaveitn noparsaverun" - did you not want those to be written?

[2020-12-01 21:19] mrush-usgs commented on #198
Ideally just the first set would be written (parsaveitn parsaverun)

[2020-12-04 00:20] jtwhite79 commented on #198
As of #199, This should be all fixed up know.  Let us if not.

[2020-12-06 21:48] Lau397 commented on #196
_Ohhhh wow, I didn't know about that! It's quite curious really. Although I did download Anaconda, what I'm doing is I launch the Jupyter Notebook directly, so I can take a look at the execution of the model in the kernel window (excuse me there if that little window has a different name but that's where I noticed the workers were not taking action!). I tried the same thing on the other computer a

[2020-12-30 19:46] jknightusgs opened #206 "Possible to add multi-thread functionality to apply_genericlist_pars()?"
I'm wondering if apply_genericlist_pars() could be multi-threaded similarly to apply_array_pars(). I have about 300 of each style model input file. Using chunk_len=50 (6 threads) the array style files are produced in 2 minutes, while the list style files take more than 30 minutes to produce on a single thread.

[2020-12-31 16:08] jtwhite79 commented on #206
I think thats def doable.  I think @aymanalz has a PR coming that weaves in an option to control how many chunks/threads to use for array processing.  Once that comes in, I'll have a look at threading up the list processing (unless @briochh is getting bored on holiday?!)

[2021-01-02 18:23] wkitlasten opened #208 "Summary statistics for ensembles"
I would like to propose including some simple methods to generate concise quantitative metrics for ensembles, similar to those discussed in the publication below. Any thoughts on those or other metrics that should be included?

https://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=1072&context=ge_at_pubs

On a similar note, I am trying to evaluate how well my IES setup (parameterization, weights,

[2021-01-04 17:48] jtwhite79 commented on #208
I think this would be great - any way(s) to help distill down ensemble results is welcome.  I guess you would process by observation group (and it seems like this is mostly about time series , right?).  I think @smwesten-usgs might has some good metrics and/or ideas on this front that we could borrow from tsproc?

On that idea of comparing history matching results to synthetic "truth" results, I t

[2021-01-06 16:33] jtwhite79 opened #210 "py3.6 pandas issue on ghactions"
@briochh - something is no worky with py3.6 and pandas.  Ok to drop coverage of py3.6?

[2021-01-10 20:54] briochh commented on #210
yeah, looks like 3.6 is dropped from pandas and numpy (https://numpy.org/neps/nep-0029-deprecation_policy.html, https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html). I'm happy to follow these guys.

[2021-01-10 21:48] briochh commented on #210
Should probably take a look at adding 3.9.

[2021-01-11 10:06] leeaender opened #212 "MF6 readability ?"
Hello everybody,
I'm struggeling getting pyEMU working for my MODFLOW 6 model.

The example (pstfrom_mf6.ipynb) uses unformated txt files to get the properties and stress period data into the pyEMU environement with an 'OPEN/CLOSE' command.
Is there a possibility to make pyEMU read MODFLOW 6 files directly? (and adress e.g. leakage in RIV directly) Or do I have to reformat the MODFLOW 6 files?

Ma

[2021-01-11 15:22] jtwhite79 commented on #212
@leeaender - that is good question.  By design, `PstFrom` works with array and list files so that it can be independent of the underlying model (beyond MF6 and even MODFLOW generally). The precursor to `PstFrom` (`PstFromFlopyModel`) is "hardwired" to the MODFLOW-5 family and that is fine because it was a first-attempt and also the MODFLOW-5 family needs that level of specialization to handle the

[2021-01-11 19:48] #210 closed

[2021-01-12 13:32] leeaender commented on #212
WOHOOO. Awesome, thank you!
It works (or at least it does the same, as shown in your example - i still have to interpret/process the results :) )
I tried to do this for weeks now ;)
Many thanks for your fast advice!

[2021-01-25 20:34] briochh opened #216 "Switch GitHub actions back to PEST++ develop branch"
As part of PR #215 GHA checkout was set to `feat_newtools` to take advantage of PEST++ update to casting `dum` obs names.
Once PEST++ `feat_newtools` merged back into `develop` need to remember to switch this back in pyemu testing. @jtwhite79

[2021-02-26 14:34] Kimmvv opened #219 "Possible to tie parameters with pf.add_parameters"
Hello everyone,

I have encountered some problems with tied parameters. I have a transient groundwater model (MF-nwt). I want to add a constant multiplier to the groundwater recharge parameter that has spatial variability (zones), but does not vary with each timestep. I'm using the PstFrom module, because I read a note that said 'This is the way…'

I have tried to use this.
[code]
My thought was t

[2021-02-26 15:33] jtwhite79 commented on #219
Ok I think you want a single constant recharge multiplier that applies to all stress periods (the same constant parameter get applied to every stress period).  If this is the case, then you can pass all the recharge arrays at once to `add_parameters()`:

[code]
(assuming `rch` is a list of all the recharge array files)

This will setup a single recharge multiplier constant parameter that will be b

[2021-02-26 16:16] Kimmvv commented on #219
It works like a charm!
Thousand thanks.

[2021-02-26 16:16] #219 closed

[2021-03-29 22:38] nikobenho commented on #176
Hi,

Using this issue for a similar question:

How could one go about adding pilot points from a shapefile?

Thanks for your great work with this package!

Cheers

[2021-03-30 17:52] jtwhite79 commented on #176
@nikobenho - If you have a shapefile of your pilot point locations, you need get the pilot point info into a dataframe with `name`,`x`, and `y` attributes.  Then you can use the `OrdinaryKrige` class:

make a geostructure:
[code]
create an `OrdinaryKrige` instance (`df` is the dataframe with pilot point attributes):
[code]
calculate the interpolation factors for a given grid.  Here, `sr` is `pyemu

[2021-03-31 20:16] wkitlasten opened #225 "parval1 in Pst.from_io_files?"
I expected the following command to extract parval1 from from the in_files. Instead I am getting parval1=1.0 for all pars. Did I mess something up?

pst=pyemu.Pst.from_io_files(tpl_files=['si_480m_4.ims.tpl','si_strt.txt.tpl'], in_files=['si_480m_4.ims','si_strt.txt'],
                            ins_files=['mfsim.lst.sum.ins'],out_files=['mfsim.lst.sum'])

[2021-03-31 21:19] jtwhite79 commented on #225
"Did I mess something up?' - hard to say - haha!

Seriously tho, reading the input files using the template files is if-y because the template files arent necessarily sync'd with the input files (unlike instruction files and output file).  So pyemu tries to read the input files but if it fails it just fills in with 1.0.

[2021-04-01 00:31] jtwhite79 commented on #225
The pstfrom tpl files for direct style pars should get the input values into the control file.  If not then that might be something we need to look at....

[2021-04-07 22:17] hwreeves-USGS opened #230 "error setting template_files attribute on linux"
I'm getting an error trying to set the template_files or input_files attributes directly by
assigning a list to the attribute.  The strange thing is that I am getting the error
on linux but not windows:

I have a pst object and a list of template files, this is working on windows:
pst.template_files = template_files

but pyemu is throwing a can't set attribute error on linux, pointing to the
line

[2021-04-07 22:23] jtwhite79 commented on #230
Are you using the same version of pyemu on both systems?  The tpl/ins containers have changed recently to support the upcoming sequential da tool in pest++ - these containers are no longer simple lists, they are now dataframes accessible as `Pst.model_input_data` and `Pst.model_output_data`.  We added simple property-decorated methods for `Pst.template_files` and `Pst.instruction_files` continue t

[2021-04-08 12:10] hwreeves-USGS commented on #230
I thought I was using the  same version - using pip to install pyemu in a conda environment; but I must have an older version on the windows machine.

Howard W. Reeves
Groundwater and Watershed Modeling Team Lead
USGS Upper Midwest Water Science Center
5840 Enterprise Drive
Lansing, Michigan 48911
517-887-8914
________________________________
From: J Dub ***@***.***>
Sent: Wednesday, April 7, 2021

[2021-04-08 13:05] mnfienen commented on #230
That does seem like the issue - so if a user wants to update only the TPL or INS files, would that require updating the `pst.model_input_data` or `pst.model_output_data`  dataframe? If so, might be worth making a shortcut to allow updating that the old way as well. Seems like that workflow may be somewhat popular. I'm happy to work on that....

[2021-04-08 13:07] hwreeves-USGS commented on #230
This works in the notebook:

pst.model_input_data.pest_file = template_files
pst.model_input_data.model_file = input_files

but it might be nice to have a setattr method for the property so you can do it directly

[2021-04-08 13:10] mnfienen commented on #230
nice @hwreeves-USGS. Only problem I foresee is that the index of the dataframe is also the pest_file col contents, so might need to update that as well (through a setattr method, as you suggest)

[2021-04-08 13:28] hwreeves-USGS commented on #230
I removed pyemu from my environment (pip uninstall) and installed a local version from the develop branch (pip install -e .); now the notebook is acting the same in Windows and linux-- confirms that I was using an older version.  Could including `pip pyemu` in the yml file to set up the conda environment on windows be using an older version of pyemu than linux?

[2021-04-08 14:11] jtwhite79 commented on #230
If y'all wanna add some sugar make manipulating i/o files easier, Im down, just gotta be careful that we dont bork that underlying dataframe. But, as with everything in pyemu, user beware! haha

[2021-04-15 20:18] jknightusgs opened #231 "PstFrom feature request: ability to draw different ranges of pars from same pargp"
I have a group of grid scale WEL multiplier parameters initiated using PstFrom. Historical water use at some wells is more certain than others, so I'd like to reflect that in my parameter ensemble.

I've tried changing the pargp name and assigning different parlbnd and parubnd values for a subgroup of wells in pst.parameter_data, but when I call the PstFrom.draw() method, all pars in the original

[2021-04-17 01:18] jtwhite79 commented on #231
@jknightusgs - we want to this use.  Lemme take a look at this issue see what its gonna take.  If you dont want correlation in the grid-scale well flux pars, then I think that will be relatively easy.  But if you want correlation (e.g. supply a geostruct) and the prior variances of the indiv pars are different, that will take a little more work.

[2021-04-17 08:50] nikobenho commented on #176
Thanks for your response! I had an error occuring which i think originates from using the disv package rather than the dis package. I'm still learning MF6 and Flopy, so I apologize if I'm not able to provide sufficient information.

The error was `Exception: spatial_reference does not have proper attributes:'VertexGrid' object has no attribute 'xcentergrid'`

I guess the best strategy for my case

[2021-04-21 23:01] briochh opened #234 "Example Notebooks"
Keen to start adding some more example Jupyter notebooks, to help shed light on the what and hows for using the various functionalities in pyEMU.

Would be great to get input (and volunteers) for putting some examples together. Ideally, I was thinking of many streamlined examples, addressing one or two methods (or variations of methods) each, this mean duplication but also opportunity to highlight

[2021-04-22 01:46] jtwhite79 commented on #234
Im keen B!  All of those you list would be great additions.  There have been several requests to demo how to setup pilot points so maybe some more examples of pilot points?  I think @mnfienen has unstructured mf6 and a nested mf6 freyberg variants - would be nice to show how unstructured and nested models can be used with `PstFrom` (there is already a mf-usg pstfrom autotest).  Also agree on a non

[2021-04-22 02:31] wkitlasten commented on #234
I always find it helpful to digest when the examples are small and self-contained (low cognitive capacity requires low cognitive load). So breaking them out into short, streamlined, standalone examples (obs, pars, pilot points, etc) sounds great! I know using the usual Freyberg model is easy enough, but for the simple streamlined examples it might be worth creating the files in the notebook, esp w

[2021-04-22 14:12] langevin-usgs commented on #234
Forgive me if I'm stating the obvious, but from the flopy side (and also the mf6 side) we have been having some lucks with rtd rendering notebooks and/or python scripts, and this is done through github actions.  See here for example.  https://flopy.readthedocs.io/en/latest/_notebooks/tutorial02_mf6.html.  I see pyemu uses RTD, but not for the examples as far as I can tell.

Rather than having mono

[2021-04-22 14:27] mnfienen commented on #234
@wkitlasten and @langevin-usgs  I totally agree that bite-size chunks can be really useful for deeper understanding. Also some more involved cases can help people make the jump from synthetic to real-world. So, I see a mix of both.

Great idea to get going on this @briochh! I'm keen to help

[2021-04-23 09:20] briochh commented on #234
Sweet, Thanks all. I am pretty slammed for the moment but hoping to carve out some time in the (relatively near) future. Good to have a collection of brains on board. In the meantime, if anyone has any more tidy topic suggestion dump them in here.

[2021-04-23 12:19] aleaf commented on #234
Totally agree with what @langevin-usgs is saying re: rendering Notebooks using Sphinx (and nbsphinx). I think it makes the content of the notebooks much more accessible. No waiting time or issues with GitHub having to render the notebook, and the comment headers in the notebook are linked to in the documentation table of contents. And you don't even need RTD- using the [github pages deploy action]

[2021-04-23 14:29] jtwhite79 commented on #234
That would be a huge contribution @aleaf! We are running the notebooks as part of GH actions currently so hopefully it wont too terrible get to this next level.  Lemme know how I can help.

@briochh - thinking about some geostats notebooks too, for things like variogram-to-covariance matrix, pilot points and factors, and spectral sim.

[2021-05-03 21:54] rosskush commented on #104
I will also add if anyone else needs this that I was able to fix this by simply running `conda update conda` I was in conda 4.8.3 and updated to 4.10.1 on Windows 10

[2021-05-05 03:36] briochh opened #238 "Observation setup can be slow"
I have noticed that setting up observations can be (VERY) slow when the model output file contains many columns (ie, the number of characters in the line heads towards 50000).

I have an example, from a typical MODFLOW6 output (head in every cell -- so heaps of columns) that is taking almost 1 hour to process.

Most of this seems to be taken up in the inschek routine in  `pst_utils.try_process_out

[2021-05-11 02:35] rhugman opened #243 "pyemu.Cov.from_uncfile() and relative paths to .mat files"
Using pyemu.Cov.from_uncfile() to read a PEST parameter uncertainty file that contains COVARIANCE_MATRIX blocks.

Unless absolute paths of the *.mat files are provided, returns.
`FileNotFoundError: [Errno 2] No such file or directory:`

I hot-fixed _mat_handler.py_ (not very elegantly) by adding the *.unc file path to the respective filename variable used to read *.mat files in  _from_uncfile_() a

[2021-05-11 21:51] #243 closed

[2021-05-12 03:34] #238 closed

[2021-05-28 08:44] nikobenho opened #246 "Spatially locate parameters within a DISV-grid?"
Hi,

This is more of a question rather than an issue.

I'm following the example notebook from the repo [pyemu_pestpp_workflow](https://github.com/pypest/pyemu_pestpp_workflow).

This has helped me to get going with pmc (yay!).

However, my model is quite slow (~6 min runtime), which, with 100 or more realizations basically renders my laptop unusable for a couple of hours. I have developed a copy

[2021-05-28 14:21] jtwhite79 commented on #246
We are just breaking into unstructured grid support.  So far, we have covered off a mf-usg model and I think it is also DISV.  You can see an example of how we did this for an mf-usg version of Freyberg here: [https://github.com/pypest/pyemu/blob/e1ce35a34fa7c766f72f2a28b946be30c468bc13/autotest/pst_from_tests.py#L2840](https://github.com/pypest/pyemu/blob/e1ce35a34fa7c766f72f2a28b946be30c468bc13/

[2021-05-28 14:27] jtwhite79 commented on #123
This has been implemented!

[2021-05-28 14:27] #123 closed

[2021-05-28 14:27] #158 closed

[2021-05-28 14:31] jtwhite79 commented on #176
The pilot point support in `PstFrom` now accepts a dataframe or shapefile of predefined pilot point locations, so you should be good to go now

[2021-05-28 14:31] #176 closed

[2021-05-28 14:31] #184 closed

[2021-05-28 14:32] #196 closed

[2021-05-28 14:32] #198 closed

[2021-05-28 14:33] #206 closed

[2021-05-28 14:35] jtwhite79 commented on #208
@wkitlasten - Any movement on this?  It would be nice contrib...

[2021-05-28 14:35] mnfienen commented on #164
Yeah - I do think this might be useful (although I've been going rogue with 1to1 plots lately). Maybe could have two options for `pdc_plot` like 'drop' or 'gray'? If that's cool, maybe I can implement.

Also, for some recent work, found it valuable to plot 1to1 with error bars in both obs and modeled like the attached. Maybe can fold that into pyemu?

![image](https://user-images.githubusercontent

[2021-05-28 14:36] #212 closed

[2021-05-28 14:37] #230 closed

[2021-05-28 14:37] jtwhite79 commented on #231
This should be covered now

[2021-05-28 14:37] #231 closed

[2021-05-28 14:40] jtwhite79 commented on #164
Those plots look awesome!  We could also just have variants on the 1-to-1 plots since all of us GW modelers are so obsessed with it - like a `Pst.plot(kind="1to1-fancysauce")` ?  I like showing the meas error bars too!

[2021-05-28 20:46] wkitlasten commented on #208
Unfortunately no movement from my end, but there may be an opportunity to
work it in for June if nobody beats me to it ((but I wouldn't mind at all
if they did!))

On Sat, May 29, 2021, 2:35 AM J Dub ***@***.***> wrote:

[2021-06-01 08:39] nikobenho commented on #246
I see! I just started learning PEST/PESTPP and PyEMU through the GMDSI tutorials and jupyter notebooks, so with limited experience trying to navigate this landscape. I fancy having the entire workflow using notebooks if possible. I will give this a try and report back if i succeed (if not I'll just go with the dis-grid for now). Thanks!

[2021-06-01 11:26] nikobenho opened #247 "History-matching and MF6?"
Hi,

I suspect this is a stupid question with a simple answer, but I have failed to get it working these last two days so here goes:

I am developing a MF6 model. To get it set up with the PEST interface, I have followed the example outlined in the [pyemu_pestpp_workflow](https://github.com/pypest/pyemu_pestpp_workflow) repo, using PstFrom. Thus far, the model is parameterized as expected and I've

[2021-06-01 12:30] jtwhite79 commented on #247
The simulated values are put in the control file on purpose.  That's so you can check that the pest interface is working as expected (very low phi) and also because setting the observed counterpart to the simulated output is probably the hardest thing about using pest(++) and also one of the most important things.  So we leave that to the user to align/process the simulated outputs and correspondi

[2021-06-03 21:48] nikobenho commented on #247
@jtwhite79 Thanks, got it working! Super intuitive actually now that I understand it (which confirms my previous hypothesis).

While on the topic, perhaps I can ask if there's a suggested way of setting up temporal-differences as observations? And secondary-model outcomes (as described in the OLPROC documentation), e.g. head at different depths in a nested piezometer, or head/stage differences, bu

[2021-06-03 22:20] jtwhite79 commented on #247
There's not anything pre-baked for that.  But if you are using `PstFrom`, then you can write a stand alone python function that does the differencing (however you like: spatial, temporal, combinations, etc) and writes a csv file.  Then you call `PstFrom.add_observations()` for that csv file and add the py function to be called after the model runs with `PstFrom.add_py_function()` - that call will

[2021-06-15 08:50] nikobenho commented on #247
Thanks a lot @jtwhite79! I think you are referring to the `pf.add_py_function("helpers.py","process_model_outputs()",is_pre_cmd=False)` part of the example notebook, right? I will give it a try. Closing this now since I got the answer I needed for the question in the title. :) Cheers!

[2021-06-15 08:50] #247 closed

[2021-07-07 23:23] wkitlasten opened #254 "Log file closes with exceptions"
Apparently the log file is closed when an exception is raised. In a notebook setting this requires restarting the entire process after each exception. Would be nice if there was a way to open/close the log file with each method (i.e. pf.add_parameters()) rather than start over each time a mistake is made (many for some of us!!).

[2021-07-08 04:35] wkitlasten opened #255 "1to1 for subset of ensemble?"
Forgive me if this is obvious (or obviously silly), but I would like to view 1to1 plot of a subset of obs. For example, view the fit of flows below some threshold:

[code]

Is there a more obvious way to do this as is? If not, I will try to find another work around (without destroying anything :t)

[2021-07-09 00:29] jtwhite79 commented on #254
Yup- that's a problem.  Probably just want to flush the log file in that exception function rather close the log file

[2021-07-09 00:30] jtwhite79 commented on #255
Can you reassign obs groups in the Pst instance to get this done?  I think that 1 to 1 helper makes sep plots for each obs group...

[2021-07-09 01:15] briochh commented on #254
I might be inclined to add a "user beware". If a process failed, for e.g. during and add_parameters() call, it is hard to guarantee that the PEST interface hasn't been messed up. There are file generation, writing to helper files, and object attribute assignments that occur during that process and could cause issues depending on where the interruption occurs. I might be OK, but then it might not!

[2021-07-09 01:29] jtwhite79 commented on #254
That's a good point B.  It might be safest to just restart the kernel if you are using the notebook...but we can test it and see what happens!

[2021-07-09 09:29] Kimmvv opened #257 "Zone parameterization of MF GHB file"
Hi,

I am trying to add zone based parameterization for a MODFLOW GHB file using the pf.add_parameters():

    pf.add_parameters( filenames= "ref\\GHB_0000.dat",
    par_type="zone",
    zone_array = zone_arr,
    transform="none",
    par_name_base="C",
    pargp="C_zone",
    index_cols={"k":0, "i":1, "j":2},
    use_cols=[4],
    upper_bound=10.,
    lower_bound=0.1  )

This produces following

[2021-07-09 20:09] jtwhite79 commented on #257
I cant see anything wrong with the call to `add_parameters()` but I admittedly I dont use zones or the dict-style arg for `index_cols` regularly.  Maybe @briochh has an idea?  Can you upload your model files and the script you are using?

[2021-07-10 05:35] briochh commented on #257
Hi @Kimmvv,sorry for the delay. I am not able to run any tests right now but my initial guess would be that we are probably not supporting "zone" type pars for list-like files? I think if you switch to "grid" type then the parameter tying approach in #105 should work.

This is a solid issue though and does raise the question of whether we should be supporting zones for list pars, especially when t

[2021-07-12 21:41] Kimmvv commented on #257
Hi,
Thanks for the replies. Switching to grid type and tied parameter transform did not work for me.

The original model files took up a lot of space, so I've tried to boil it down to a minimal working example:
[Setup GHB.zip](https://github.com/pypest/pyemu/files/6804474/Setup.GHB.zip)

Cheers

[2021-07-13 00:20] briochh commented on #257
Thanks @Kimmvv,
That is really helpful. It looks like the issue was at the intsersection of list pars setup, in zones, while using short par names (`longnames=False`). Putting a patch together now.

N.B. if you are using PEST++ then you can pass `longnames=True` to the initial PstFrom() call to allow pars and obs to be set up with more metadate information within the parnme and obsnme.

[2021-07-13 02:55] briochh commented on #257
Ok @Kimmvv, can you see how you go with the latest on `develop` branch? Let me know how you get on.

[2021-07-13 20:58] Kimmvv commented on #257
It works, now I have three different parameters to describe my general head boundary.
Thanks a lot!

[2021-07-18 21:21] #257 closed

[2021-07-19 01:46] briochh opened #261 "Dark handling of parameter correlations when duplicated locations interpreted from passed i,j (or x,y)"
Currently, when parameter spatial information in list-like parameter files (passed to `PstFrom.add_parameters()`) results in collocated parameters  (e.g. the same i,j information for different rows), we attempt to split the correlated parameters by an additional index, if passed (e.g. layer). This can get around the issue of trying to define correlations for identically located parameters. However

[2021-07-19 02:00] jtwhite79 commented on #261
Tying is probably the cleanest but adding jitter/offset and splitting/uncorrelating  might also be useful in some settings.  I wonder if we should add this handling to the prior builder and draw methods outside psrfrom?  That might be easier and more general?  Maybe?

[2021-07-19 02:06] briochh commented on #261
Yeah that might be a good shout -- could help keep that `add_parameters()` clean (or not make it more dirty). You might want the flexibility to have diff behaviour for diff pars groups though so might need something passed at `add_parameters()` time

[2021-07-26 18:39] jmcdowell-usgs commented on #71
@jtwhite79 I see this is a couple years old but I am actually getting this same issue with 'get_output_attribute' for the HOB package. Was your fix ever pushed to the master branch? (I'm using v. 1.1.0)

[2021-07-26 21:59] jtwhite79 commented on #71
@jmcdowell-usgs - does the fix that @corcorf used work for you also?

`self.tmp_files.append(os.path.split(hob_out_fname))`
to
`self.tmp_files.append(os.path.split(hob_out_fname)[-1])`

[2021-07-30 00:14] briochh opened #264 "Weave in `use_rows` arg to `add_parameters()`"
Would be handy to specify, `use_rows` for list-like par files to exclude line in the input file from paramterisation attempts.
Thinking the likely useage might be to set up different groups of grid based pars with successive calls to add_parameters().

[2021-07-30 00:19] briochh opened #265 "Possible construction of helper to setup spatial list-like pars from array."
A potential way to set up spatial pars where model input files are list-like (esp with pilot-points/ zones etc) would be to set up pars on an array-style definition of the list input. Might be possible to add a conveinince helper to switch between two.

[2021-07-30 00:49] briochh opened #266 "Catch overhead trying to do geopsatial draws on single parameter par groups"
This may have already been addressed (@jtwhite79 ?), but there is potentially some uneccessary overhead setting up for geospatial cov/draw for par groups containing just 1 parameter. These could probs just be grouped into the diagonal draw?

[2021-07-30 14:23] jtwhite79 commented on #266
I haven't dealt with this yet but needs to be done...

[2021-08-19 19:19] rosskush opened #273 "PstFrom.add_parameters; len(use_col) != len(par_name_base) should be flagged early"
Howdy,

when using `pf.add_parameters() `with a csv file (or possibly another text file) I noticed that when using more than one column for `use_cols `there is an error that pops up in` pst_from.py _get_tpl_or_ins_df() `that might benefit from having a raise error early on if the length of `use_cols `does not equal to the length of p`ar_name_base, upper_bound, lower_bound` and `pargp`.

for exampl

[2021-08-20 00:35] briochh commented on #273
Hi @rosskush, This is defo a good shout. I think the bounds lists (`upper_bound`, `lower_bound`) should automatically get filled (for better or for worse!) and `par_name_base` "should" be getting caught relatively early on `pargp` might still need an earlier catch or some default filling. From looking at your traceback it does look like `par_name_base` is sneaking through though. I'll look into it

[2021-08-20 14:20] rosskush commented on #273
Howdy @briochh, So in my case I was feeding in a csv with 6 columns I wanted to use. What I noticed is that since I did not make `par_name_base `a list of that length (I actually did not even change it) so pyemu was trying to iterate over "p" which is the default value. This worked for the first column but since it has only one character it did not work for the second. So maybe whatever is being u

[2021-08-20 20:53] wkitlasten commented on #273
What about something like this, assuming the "use_cols" names will make the
parnme unique

if len(par_name_base) == 1:
    par_name_base = par_name_base * len(use_cols)

On Sat, Aug 21, 2021, 2:21 AM Ross Kushnereit ***@***.***>
wrote:

[2021-09-05 03:59] wkitlasten opened #277 "Interpolation for the whole gird, or just active domain?"
I am generating pilotpoint parameters for a fairly big model (400x500) with 15 layers. The active domain gradually reduces to about 500 cells by the last couple layers, so I end up with fewer pilot points in each layer (totally cool and expected). However, the "interp point loop" takes a while and appears to be interpolating for the entire grid (200,000 cells) for each layer. Is that expected? Wou

[2021-09-05 04:05] wkitlasten opened #278 "par_type="zone" looking for i,j?"
I am adding zone multipliers with the following command. The file is an array. It issues a warning that "position of i and j in index_cols not specified." Could be this warning is just out of place... but I could also be missing something?

[code]

select output:
[code]

[2021-09-05 13:54] jtwhite79 opened #279 "PstFrom geostruct sill warning"
User reports sill!=1 warning in pf.draw() even tho sill = 1.0.  I'm wondering if we are changing the sill (in spec sim I think) but not resetting it properly?

[2021-09-05 19:11] jtwhite79 commented on #279
I think in spotted this one - its a nugget effect issue. The total contrib of a geostruct is the sum of the variogram contribs plus the nugget.  So even tho the variogram sill was 1, the nugget pushed it over...

[2021-09-05 19:11] #279 closed

[2021-09-05 19:26] jtwhite79 commented on #278
@briochh would know better but I think we still need ij info to workout which zone each array position is in?

[2021-09-05 19:58] jtwhite79 commented on #277
We def only want to interpolate for the active cells.  Does the zone array have zeros for inactive cells?  Is the kriging solve time about the same for all layers (indicating we are solving for all cells rather than just active)?

[2021-09-05 20:01] briochh commented on #278
Yup, I think looks like just an out of place warning. i,j should be inferred from the array position as index_cols not passed for array style parameter files. I'll dig.

[2021-09-05 20:52] briochh opened #280 "Introduce more consistent par/obs names"
I think it would be good to try and get the par (and maybe obs) naming conventions a bit more consistent. So decide whether we automatically add `multiplier`, `direct`, `grid`, `zone`, `pp`, etc and if we do make sure we do it consistently across all permutations.

Appreciate that I am currently raising more issues than I am fixing -- these are as much notes for me. But.... if anyone else wants to

[2021-09-05 21:23] wkitlasten commented on #277
Yes. Yes? (+/-... for example: layer 1 = 235, layer 10 = 240, layer 15= 245)

For every layer it says: "starting interp point loop for 206670 points"

layer 1 idomain:
![image](https://user-images.githubusercontent.com/14982084/132141529-2db2fd0b-a8ef-4a94-a926-e396e4c4beb9.png)

layer 10 idomain:
![image](https://user-images.githubusercontent.com/14982084/132141647-4dc470fa-c764-4acd-ac23-021b748

[2021-09-05 23:19] jtwhite79 commented on #280
Agreed.  I was even thinking par_type and par_style could be name attributes with the colon delimiter? Maybe also file_style (array or list)?

[2021-09-06 05:26] wkitlasten commented on #280
Sort of related (auto names) and more specific than necessary.

0) the name "mult2model_info.csv" maybe a little misleading since "direct" pars are also included in there. Maybe something like "pars2model_info.csv"?
1) "original" rather than "org" directory may be clearer? Also "multiplier" rather than "mult" directory?
2) not sure where the "inst" comes from, but it is "inst1pp" for my pp filenam

[2021-09-06 06:18] wkitlasten opened #281 "Continue when non-zero returned by pyemu.os_utils.run()"
Is there a way to allow the exception raised by pyemu.os_utils.run() returning a non-zero?

Some par combinations cause my MODFLOW model to not converge. pyemu.os_utils.run() returns non-zero value, causing forward_run.py to fail. Inspecting the list file for the failed runs suggests the mass balance is fine (<0.5% usually) but the convergence criteria is not met. I could relax the convergence cri

[2021-09-06 13:02] jtwhite79 commented on #281
Why not use convergence continue in mf6?  The latest version of mf6 returns 0 if continue is true (older versions of mf6 return nonzero if it failed to converge even with the continue option).  In general I think we want to raise an exception for a nonzero return code - explicit is better than implicit!

[2021-09-06 13:31] jtwhite79 commented on #280
That last one is the kind of consistency thing I'd like to clear up.  We still need the "inst" tag but would nice to have all of the name attributes with the "name:value" style so that we can parse them into Metadata columns...

[2021-09-06 13:42] jtwhite79 opened #282 "PstFrom bounds and ult_bounds as arrays"
A few people have already asked about this but I suspect it might be a bit of headache.  Just wanted to make an issue to keep track of this idea.

[2021-09-06 20:38] wkitlasten commented on #281
Thanks man, that does it.

[2021-09-06 20:38] #281 closed

[2021-09-07 04:46] wkitlasten commented on #277
Some clues... around line 2295,
if structured it calls ok_pp.calc_factors_grid with default num_threads=10
resulting in _calc_factors_mp() method, which doesn't handle nans in df.x and df.y

I tried changing num_threads=1 in ok_pp.calc_factors_grid call, but that is slow as!

I tried to dig into _calc_factor_mp() to deal with the nans, but I ain't that smart.

[2021-09-20 19:55] lauraschachter opened #286 "sc.get_added_obs_importance: reset_zero_weight strange behavior"
Expected behavior is that if reset_zero_weight isn't specified, the zero-weighted observations are reset to weight = 1.0, but if this is non-numeric, then weights are not reset. In order to get this to work, the user must set reset_zero_weight = 1.0. Either the docstring should be rewritten to be accurate, or the behavior of the code should change to match the docstring.

From the docstring:
[code

[2021-09-20 22:22] mnfienen commented on #286
It seems like the code snippet @lauraschachter showed is doing two things. It's setting the reweighting weight to 1.0 by default, but only if `reset_zero_weight` is not `False`. It's also checking for a diagonal obscov since reweighting only makes sense if obscov is diagonal.

I propose adding a variable called `added_obs_weight` which is a float. If it is `None`, the default will be 1.0. Then, a

[2021-09-21 05:33] briochh opened #287 "direct pars template files need to match model file separator."
Just logging this one here.
I think we need to pass model file sep to direct par template files. Currently a default ',' is used
Should be a quick fix.

[2021-09-23 19:45] mnfienen commented on #286
OK, after some discussion offline, we have a solution. There is a bit of a conceptual change here.

Previously, `reset_zero_weights` applied to both `obslist_dict` which is the new, potential observations _and_ `base_obslist` which is the user-identified calibration set. However, users should be providing only non-zero weighted observations in `base_obslist`. Also, the user should be able to provi

[2021-09-23 19:49] jtwhite79 commented on #286
agree with that!  So now the default is the generic behavior most users will be expecting: passing a dict of zero-weighted obs for testing and those obs should be assigned a nominal weight automatically under the hood.

[2021-09-23 19:50] mnfienen commented on #286
One question is, do we still need this exception?
[code]

I ask because, what if the `obscov` for the calibration data is not diagonal, but for potential obs it is diagonal?

[2021-09-24 14:59] mnfienen opened #290 "sc.get_removed_obs_importance should not have reset_zero_weight parameter"
In our fixing of `sc.get_added_obs_importance` we started enforcing a paradigm that requires that all observations in the calibration dataset have nonzero weight.

So, I propose we deprecate the `reset_zero_weight` option in `sc.get_removed_obs_importance` because there should only be non-zero weighted obs to remove anyway

[2021-09-24 15:17] jtwhite79 commented on #290
yeah, makes sense to me. I think this is a much cleaner approach...

[2021-09-24 15:19] mnfienen commented on #290
right on - I'll do it

[2021-09-24 15:19] #290 closed

[2021-09-30 22:50] briochh commented on #287
possibly not required as direct par files are still included in `apply_list_and_array_pars()` which should inherit mf_file sep stored in mult2model_info.csv

[2021-10-01 11:07] #264 closed

[2021-10-01 11:07] #216 closed

[2021-10-01 11:08] #287 closed

[2021-10-05 22:13] wkitlasten commented on #280
Nice work. A quick note, many headers have '_' in them, making '_' an ineffective key. Example, in my df (from mfsim outer) 'total_inner_iterations' is a column header and 'last_iter' is the index name, but there is no way to distinguish in the current naming convention. Is there another option to mark the

`oname:less_otype:lst_usecol:total_inner_iterations_last_iters:1`

[2021-10-06 00:45] jtwhite79 commented on #280
Well....you could use the new pst.rename_obseevations() method to have finer grained control over the names.  I typically scrub those header and indices to deal with this problem. @briochh any thoughts on this?

[2021-10-06 19:27] wkitlasten commented on #280
Sorry, I was in the middle of trying to explain and
Alt+Tab+<twitch>+<glitch>...Entered my way into closing the issue and
submitting a partial thought (again)!

My point was "_" seems pretty common in table headers, parameter names,
filenames etc. so using it to separate metadata fields seems potentially
problematic. @briochh mentioned maybe using "-" as the metadata separator.
Obviously there are

[2021-10-08 21:55] Cecile-A-C opened #293 "PESTPP-OPT: FOSM-based chance constraints and opt_recalc_chance_every()"
Hello,

I seem to run across a problem with PESTPP-OPT when I conduct SLP and choose not to recalculate FOSM-based chance constraints at every iteration (opt_recalc_chance_every > 1). I understand that in iterations where PEST does not recalculate chance constraints, it should reuse the previous chance constraint calculations. However in my optimizations (with risk != 0.5), in iterations where PES

[2021-10-08 22:10] jtwhite79 commented on #293
hey @Cecile-A-C - can you open this issue at [https://github.com/usgs/pestpp](https://github.com/usgs/pestpp).  Also, there is a new release of PEST++ (5.1.1) that includes a lot of work on the optimization tools.  If its not too much trouble, can you try running with those to verify this problem still exists?

[https://github.com/usgs/pestpp/releases/tag/5.1.1](https://github.com/usgs/pestpp/rele

[2021-10-08 22:56] #293 closed, assigned to nobody

[2021-10-10 19:17] wkitlasten opened #294 "number of consec bad lambda cycles control/toggle?"
More of a question than an issue: ies ends after 4 iterations because "number of consecutive bad lambda testing cycles: 3" even though the overall phi is being reduced by 15-50% each iteration (hurray!). I don't see a way to increase the number of bad lambda testing cycles, but perhaps that would be a bad idea and this issue indicates an underlying defect (probable). Perhaps the better option is t

[2021-10-10 20:03] jtwhite79 commented on #294
Hey @wkitlasten - maybe this would be better asked on [https://github.com/usgs/pestpp](https://github.com/usgs/pestpp)?

But to answer your question, ies uses some of the phi termination criteria as PEST, including `nphinored` (which is one of those numbers on the `* control data` section - I cant remember which one...), which ies also uses for counting "bad lambda cycles".  In the rec file you ca

[2021-10-10 21:01] wkitlasten commented on #294
Doh... sorry. So in summary: ies uses nphinored for counting "bad lambda cycles". And since this is pyemu, not pestpp:

pst.control_data.nphinored=10

[2021-10-10 21:01] #294 closed, assigned to nobody

[2021-10-10 23:18] wkitlasten opened #295 "Something wrong with my ensemble?"
I am trying to explore my posterior ensemble with all the glorious pyemu functionality. Here is how I load it.
[code]
Seems fine so far, but when I view it I get a PyemuWarning:
[code]
When I manually examine ensit it looks okay to me (real_name as index, etc), but when I try to do anything glorious, I fail:
[code]

Anything specific that I can check that might cause that initial warning?

[2021-10-10 23:46] jtwhite79 commented on #295
@wkitlasten the pyemu ensemble class tries to wrap around the pandas dataframe class - the ensemble class has its own loc and iloc classes, etc.  And we try to catch the big builtin operators but we can't catch them all.  So that warning is saying you called an operation that the ensemble class couldn't handle so it's dropping the ensemble instance and giving you a dataframe instead.  What are you

[2021-10-11 03:17] wkitlasten commented on #295
Passing the obs ensemble (using the approved naming convention oe instead of ensit):
[code]
Passing the filename:
[code]

[2021-10-13 04:57] briochh commented on #277
@jtwhite79, I think with the `_mp` version we are relying on the masking of "out of zone" xs and ys occurring already (e.g. in [`calc_factors_grid`](https://github.com/pypest/pyemu/blob/d69b8dc095c6606cb69e8ca0e57c94db4111c8a8/pyemu/utils/geostats.py#L987)). However, the shape of the df that gets set up in [L1370](https://github.com/pypest/pyemu/blob/d69b8dc095c6606cb69e8ca0e57c94db4111c8a8/pyemu/

[2021-10-14 03:56] jtwhite79 commented on #277
@briochh thanks checking this out.  The mp version shouldn't care if only only a subset of the grid points are being interpolated.  Can't see anything wrong with skipping...

[2021-10-14 03:58] #246 closed

[2021-10-14 03:58] #254 closed

[2021-10-14 04:00] jtwhite79 commented on #266
I think this usecase is covered now...

[2021-10-14 04:00] #266 closed

[2021-10-14 04:00] #273 closed

[2021-10-14 04:04] briochh commented on #277
@jtwhite79, nice one -- I am plumbing this in on a branch. We do need to keep hold of the full array for writing the var file, but this can be reconstructed after, I think. For @wkitlasten's test case (heaps of points) it reduces the the run time by... lots. Suggests that most of the `_mp` method slow down is in accessing those manager lists in the loop, not so much the actual calcs -- maybe it is

[2021-10-14 13:49] jtwhite79 commented on #277
@briochh thats an interesting observation and honestly not that surprised.  maybe we need to tune the size of the pool...keen to see what kind of speed up we get from this!

[2021-10-14 15:37] aleaf opened #298 "Grid-based parameter covariance by zone with PstFrom"
Hi, so i am looking to implement grid-based parameterization of aquifer properties with spatial covariance that only applies within zones (parameters in different zones are assumed to be independent). I am using ``PstFrom`` to set this up.  It is a large overly complicated model so I want to use ``PstFrom.draw(use_specsim=True)`` to avoid memory issues. It looks like the preferred way to do this i

[2021-10-15 20:39] aleaf commented on #298
Hi @briochh , thanks for the reply. Yes- I was thinking that if ``PstFrom.add_parameters()`` is called by layer with a zone array, then the resulting parameters should be grouped by layer and zone (e.g. layer1-zone1, layer1-zone2, etc..). That would also make it easy to tie those parameters by layer and zone.

[2021-10-15 20:40] jtwhite79 commented on #298
@aleaf I think your approach with a separate call to `add_parameters()` for each zone is what about right.  You could also just grid-scale  multipler pars with zone type multiplier pars, which would also result in statistical independence between grid-scale pars between zones in the model inputs since the zone type pars would essentially be estimating the mean multiplier value in the zone and the

[2021-10-15 21:12] oscarfasanchez opened #300 "draw() error, spectral simulation"
Hello!
I'm here to report an error, or maybe to request a feature 😅
I have a modflow 6 model with an structured iregular grid
![image](https://user-images.githubusercontent.com/39230212/137553724-87343fea-7278-4255-b447-5366cb7c21d2.png)
when I try to use the following code:
    pe = pf.draw(300, use_specsim=True)
    pe.to_binary(os.path.join(template_ws, "prior.jcb"))
I get
Exception: draw() err

[2021-10-15 22:18] jtwhite79 commented on #300
@oscarfasanchez unfortunately, spectral sim only works for regular grids. But you can trick it into working by making an erroneous spatial reference that is regular grid - the spacing of the erroneous spatial reference should be the minimum spacing in your actual grid so that the geostats are correct for the area of interest and this erroneous spatial reference should have the same number of rows

[2021-10-15 22:20] jtwhite79 commented on #298
21 layers?!  yikes

Sounds like maybe we should incrementing the instance count in a better way?   I wonder if that "208" is layer 20, 8th instance maybe?

[2021-11-17 20:46] oscarfasanchez opened #301 "PstFrom.add_observations problem with gaps in time series"
Hello!
I'm having troubles using PstFrom add observations when i don't have a continuous time series , it would be nice to have a functionality that allows to receive this type of file, or maybe there is and I don't know it, every example that I saw with pyemu have beautiful time series without gaps
I tried using nan, spaces " ", even writing !dum! in the csv file

some messages that i got when I

[2021-11-17 21:06] briochh commented on #301
Hi @oscarfasanchez,

By "not continuous times series" do you mean that you don't want to set up observations for all row of an output file? If so, you could try passing the `use_rows` argument to `PstFrom.add_observations()` call. Currently, I think this is best set with a list of `int`, specifying the index position of rows in the output file that you wish to set up observations for.

If the isn'

[2021-11-18 15:15] oscarfasanchez commented on #301
I'm talking about a modflow6 model

[2021-11-18 17:27] oscarfasanchez commented on #300
hello!, thanks for your answer
i just skipped the drawing step, and I'm assuming that Pestpp-ies does it by itself(using standard covariance decomposition approach? 😅), I don't have many parameters, so I think i'll be fine by now.
thank you very much!

[2021-11-19 00:14] jtwhite79 commented on #301
Usually, you would use the mf6 observation package to write out the simulated results for all times at locations of interest.  Then the instruction file that pstfrom setups helps get all the simulated values at locations of interest into the control file.  Then it is up to you to modify the control file.  Specifically, you'll need to set  the observation data quantities obsval and weight for locat

[2021-11-19 20:48] jknightusgs opened #302 "PstFrom.add_parameters() option use_pp_zones=False not working properly"
Hi there,

I have a model with constant, zone, and pilot point multipliers set up via the PstFrom method. I noticed in my prior realizations that the pilot point multipliers were only being applied by pyemu where the pp_zone array parameter specified in PstFrom.add_parameters() was equal to 1.

Zones 2,3,4 were being adjusted by the constant and zone mults but not the pilot point mults. Pilot poin

[2021-11-21 22:16] jtwhite79 commented on #302
@jknightusgs I'll take a look at this first thing tomorrow

[2021-11-22 15:44] MostafaGomaa93 opened #303 "Couldn't access the input/output files when PEST runs"
Error:
**control file parsing error: error in model interface file access:Could not access the following model interface files: temp_files\obs_simulated_heads.txt.ins,
temp_files\obs_simulated_heads.txt,
temp_files\steady_state.npf_k_lay1.txt.tpl,
temp_files\steady_state.npf_k_lay1.txt**

I feel it's a silly mistake of mine but I try many times but no success. Although It's not my first PEST model

[2021-11-22 17:34] jtwhite79 commented on #303
ok, this looks to be a pathing issue (again...).  In `pest_control.pst`, the "* model input/output" are meant to be in a "temp_files" files directory (like `temp_files\steady_state.npf_k_lay1.txt.tpl`).  This means there needs to be a "temp_files" directory from the location where `pestpp-xxx` is running.  So this means you need to run `pestpp-xxx` at the same directory level as "temp_files" and "

[2021-11-22 19:23] MostafaGomaa93 commented on #303
It works! Thanks a lot.

But I have two more questions:
1- So, if in the npf file, let say for ex: if the num of parameters is 1000, but if I only want to select some of them to be included in the PEST run and not all of them. From what I understand from you, I should prepare the tpl file with same number of parameters, so in this ex will be 1000 and those that I don't want them to be included in

[2021-11-22 20:30] jtwhite79 commented on #302
@jknightusgs  - I changed pp space to 4 (essentially one pp per zone), locked in the par values, and I get this:

![image](https://user-images.githubusercontent.com/1770912/142930727-108cbcb4-e993-4b8b-89cd-4be2c492fbae.png)

Im slow but I think that is what we want?  what am I missing?

[2021-11-22 21:34] jknightusgs commented on #302
here is what mine looks like (top right corner is where pyemu was not applying pilot points outside of zone 1).

maybe this is a version issue. I was unable to run my script with the latest develop branch zip, but if it works for you the issue is probably on my end.
![pp_zone_comp_jk](https://user-images.githubusercontent.com/25256008/142937685-11aabb6b-8f34-43e7-9ee6-23820e3859e9.png)
:

[2021-11-22 22:15] jtwhite79 commented on #302
I commented out the other pars, removed the `ult_bounds` on the pp pars, dropped the v-lim on the plots,  and added this line:
```par.loc[:, "parval1"] = (np.arange(par.shape[0])+1) * 10```
Can you try that and see if you get the same?  Just wanna make sure there isnt some interaction thats causing the issue...

[2021-11-22 22:26] briochh commented on #302
Hi Both,
Not sure whether they were a break or a fix but I made some changes in #299 that may relate to this issue.

[2021-11-22 23:45] jknightusgs commented on #302
@jtwhite79 I made the changes you suggested to my script and get the same lack of pp application in zones 2-4.
![pp_zone_comp](https://user-images.githubusercontent.com/25256008/142951440-ae237942-22e0-4868-8b25-a444b498738f.png)
But my installed version of pyemu is earlier than @briochh 's changes mentioned above, and if interpolation is working as intended in the latest version this issue is pro

[2021-11-22 23:50] oscarfasanchez commented on #301
Hello, i did it modifying pst.observation_data with pandas!, thankyou!

[2021-11-22 23:50] #301 closed

[2021-11-22 23:57] jtwhite79 commented on #302
Got it - so let's call this fixed thanks to @briochh !

[2021-11-25 15:46] #303 closed

[2021-11-25 19:52] oscarfasanchez opened #304 "Graph 1to1 for ensembles"
Hello, I'm trying to get a 1to1 graph from an ensemble of observations
something like this:
![image](https://user-images.githubusercontent.com/39230212/143491675-681cef8e-c428-46db-a4fb-426526c8b450.png)
the image is taken from https://www.frontiersin.org/articles/10.3389/feart.2020.565613/full
DataSheet13_v1

and it says: pyemu.Pst.plot(kind='1to1')
from pest control file 'I:\Groundwater\Research

[2021-11-25 22:06] briochh commented on #304
Hi @oscarfasanchez,

The ensemble based 1to1 plotting is a little more hidden than the regulare Pst object 1to1 hook. Checkout `pyemu.plot_utils.ensemble_res_1to1()`.
You need to pass your ensemble and pyemu.Pst object as a minimum. You should be able to pass the ensemble as a dictionary of pandas dataframes, where the key denotes the color string.

For the plots that you reference, I would have d

[2021-11-26 00:54] oscarfasanchez commented on #304
Thankyou! it was very useful,
but @briochh ...is there a way to separate the graphs(or titles)?

[2021-11-30 12:57] BJEANNOT0 opened #306 "Implement pilot points without flopy"
Hello,

I want to do a parameter estimation with Pest++ and would like to use pilot points in order to reduce the number of parameters.
I was thinking about using pyemu for pilot points interpolation.

However, reading the documentation of pyemu, it seems that the use of pyemu for pilot points has been thought in a workflow that contains flopy==>modflow==>pest++. As far as I am concerned, the mode

[2021-11-30 21:37] briochh commented on #304
Hi @oscarfasanchez,

Sorry for the delay -- I think if you don't pass a `filename` to that method it should return the mpl figure objects in a list. It might be possible to split them how you want with mpl (notwithstanding the complexity around splitting up axes from figures in mpl).

If you want different grouping of obs on each graph you can play with (temporarily) regrouping them in the pst.obs

[2021-11-30 21:38] briochh commented on #302
I think we all good for this. Reopen if problems resurface!

[2021-11-30 21:38] #302 closed

[2021-11-30 21:49] briochh commented on #295
Just for reference, I think `pyemu.plot_utils.ensemble_res_1to1()` (as per #304) is the method you want for these ensemble plots. I suspect/know the you have written your own though. Any suggestion for how to improve the pyemu method welcome...

[2021-11-30 22:02] briochh commented on #280
General and safe storage of metadata components in par and obs names is a bit of a challenge. @wkitlasten is right, "_" is fairly ubiquitously used a space fill in model input and output file column headers. I haven't hit this issue myself but can see how it might come up.

@jtwhite79 would PEST and PEST++ handle "-" in par and obsname strings? If so perhaps we could migrate to using this as the m

[2021-11-30 22:04] briochh commented on #255
yup, regrouping in the pst.observation_data is the trick for this (if wanting to use `pyemu.plot_utils.ensemble_res_1to1()` ). This also related to #295 and #304 . Closing.

[2021-11-30 22:04] #255 closed

[2021-11-30 22:09] jtwhite79 commented on #280
@briochh - the dash should be fine and @wkitlasten is right that this is an issue - Ive hit it also.  was just looking at my keyboard for a good general choice for metadata sep and I cant find one.  Could go with double underscore or double sep?  maybe a vertical bar? We could make it an arg for `PstFrom` but then we need to somehow feed that choice into `Pst.try_parse_metadata()`. Maybe we could

[2021-11-30 23:23] briochh opened #307 "Specifying index ints for use_rows in add_parameters may fail"
PstFrom.add_parameters() accepts optional argument `use_rows`. In the docs this is referred to as a list of ints (defining zero-based index in passed file) or list of tuples (defining model numbering based tuple relating to the values in index_cols).

Currently, it looks like the int option will not work as expected because the template dataframe returned by `_get_tpl_or_ins_df()` is not necessari

[2021-12-02 01:25] Smith0710 opened #309 "Passing valid spatial reference to .calc_factors_grid() method"
Hi

A spatial reference from the `flopy.utils.reference.SpatialReference()` class is passing successfully to `pyemu.geostats.OrdinaryKrige().calc_factors_grid()` although depreciation warnings occur when the spatial reference object is instanciated. The warning recommends `StructuredGrid` is used instead.

On the other hand, a spatial reference from the `flopy.discretization.structuredgrid.Structu

[2021-12-03 00:39] oscarfasanchez commented on #304
Thankyou!

[2021-12-03 00:39] #304 closed

[2021-12-03 01:20] jtwhite79 commented on #306
If you are using the`PstFrom` class, it can do unstructured pilot points.  the key is you need to pass the spatial reference as a dict of node-tuple(xy) pairs so that it look up the location of nodes as needed.  Then you can pass `pp_space` as a dataframe of pilot point name-xy info.  There is an example of using a unstructured modflow model here:

[https://github.com/pypest/pyemu/blob/a474ebd76d6

[2021-12-03 01:28] jtwhite79 commented on #309
This is because flopy moved to the `modelgrid` class and apparently this required renaming otherwise identical attributes for some reason I havent yet figured out...But you can create a `pyemu.helpers.SpatialReference` instance using model georef info (lower left xy and rotation) and delr /delc arrays.  Then you can pass that to the geostats routines.

[2021-12-03 08:13] BJEANNOT0 commented on #306
Thank you !  I will look into it.
As you say, I also investigated PEST groundwater utilities and I may end up using PLPROC as well.
I will post again when i manage to provide satisfactory results.

Bets regards,

[2021-12-07 01:51] Smith0710 commented on #309
Thanks very much @jtwhite79. I am still finding my way around flopy and pyemu and don't always look in the right places. Appreciate your help. Cheers.

[2021-12-07 18:47] #309 closed

[2021-12-17 11:53] BJEANNOT0 opened #311 "pyemu creates an external observation file with a column name AND a column obsnme"
Hello,

today,  for the first time I used pyemu to deal with my pest control file.

I used the basic follwing command  :

import pyemu
pst = pyemu.Pst("case.pst")
pst.control_data.noptmax = -1
pst.write("case2.pst")

I noticed that pyemu takes my external observation data section and converts it into a file named case.obs_data.csv.
The problem is that the file case.obs_data.csv. contains 2 columns

[2021-12-17 11:59] BJEANNOT0 commented on #311
I also confirm that when I use the "old" names, this problem does not appear.

[2021-12-17 17:46] jtwhite79 commented on #311
Are you using the latest develop branch version?  I think I fixed this issue a few days ago - I checked with your files and it seems to be fixed now using the latest develop.  let us know if now...

[2021-12-20 08:45] BJEANNOT0 commented on #311
Thank you for your answer.

I was at version 1.1.0 when posting the first message.
I am now at version 1.2.0. I do not know if this is the last version, although  I am nto sure.
With 1.2.0, when using  "easy" names for observations, when I try ti run the code I posted in my first message, I now get an error :
"Exception: Pst.sanity_check() error: duplicate observation names: dum"

I can confirm us

[2021-12-20 15:34] jtwhite79 commented on #311
actually I think this is fixed on the develop branch but we dont have a release for it yet.  Are you installing pyemu with `pip` ?  If so, I think you can do something like
[code]
to use pip to install the latest develop branch.  I may not have the command right, but this  SO post has lots of options:

[https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-branch](https://stackove

[2021-12-20 15:39] BJEANNOT0 commented on #311
Thank you very much !

[2021-12-22 00:17] aleaf opened #313 "PstFrom.add_parameters: support for parameters in multiple input and tpl files"
Sometimes we may want to include a parameter in more than one input/template file. For example, to represent a zone that extends across multiple model layers, or a crop type (that may move in space) in successive recharge arrays. This may be useful to give PEST bigger levers to adjust values systematically when the effects of adjusting values by zone and instance are too diffuse.

Currently, it se

[2021-12-30 11:42] Hugovdberg opened #315 "Use `logging` from standard library"
`PyEmu` implements a custom logger to log messages from various parts of the package. Python comes with a `logging` module that provides the same functionality, and more. Also, `PstFrom` is currently hardcoded to log to a file in the current working directory, as well as an optional logging to `stdout`. I'm using `pyemu` within a `snakemake` workflow, with log files being stored in a dedicated dir

[2021-12-30 16:31] jtwhite79 commented on #315
sounds good to me as long as we can still get timestamps and weave the logger into the helpers?  Also, we need to retain the snarky and insulting messages! haha

@briochh?

[2021-12-30 19:21] Hugovdberg commented on #315
The nice thing about the standard logging module is that it allows you much more fine grained control over the log messages. You can keep logging all messages, from anywhere in the library, but the user of the library gets more control how and where the messages are going.

It is not necessary for the library to provide timestamps as they can be included by the handler. The default line format doe

[2021-12-31 10:59] Hugovdberg commented on #315
@jtwhite79 what versions of Python should be supported? The travis config suggests Python versions 2.7, 3.5, 3.6 and 3.7 are used for testing, but the appveyor config suggests only Python 3.7 is tested. Also, `PstFrom._setup_dirs` uses f-strings, so that will not run pre-Python 3.6. Can I assume 3.7+?

[2021-12-31 16:25] jtwhite79 commented on #315
I think 3.7+ is fine.  We are really only using github actions anymore....

[2022-01-04 19:05] briochh commented on #315
Sounds like a solid plan to me @Hugovdberg. Thanks for having a dig into this.

[2022-01-05 22:34] mnfienen opened #316 "passing `zone_array` as None for PstFrom.add_parameters"
Ran into an issue when not specifying a zone array for `add_parameters` and making pilot points, would assume that it would assign pilot points throughout the layer treating as all active. However, throws an error in the following code:
[code]
I recommend if `pp_space` is an `int`, and `pp_zones` is not specified, and `zone_array` is not specified, that `zone_array` be set to all 1s implying the e

[2022-01-05 22:46] jtwhite79 commented on #316
that sounds like a good PR to me!

[2022-01-07 15:32] mnfienen commented on #316
done!

[2022-01-07 15:32] #316 closed

[2022-02-08 02:52] wkitlasten opened #322 ""freeze_support" for pilot point generation in pstfrom?"
I recently moved my code from a jupyter notebook to a script and ran into the following issue when I first attempt to create pilotpoint parameters. It seems a "freeze_support" command is missing and the fact that it works fine in a jupyter notebook suggests the error stems from poor programming skills on my end. But is there any chance the "freeze_support" should be in the geostats util or pst_fro

[2022-02-08 03:12] jtwhite79 commented on #322
@mnfienen just had this same issue.  If you wrap your whole notebook source code in a function (call it `notebook()`), then at the bottom of the script (below and out of the `notebook()` function scope), you need to add:
[code]
Im guessing the jupyter folks are doing this behind the scenes (otherwise, mp would not work in the notebook!)

[2022-02-08 03:16] #322 closed

[2022-02-14 11:37] BJEANNOT0 opened #323 "Name of observations become lowercase automatically after using pst.write()"
Hello,

I changed some parameters in my model using the piece of code bellow :

pst = pyemu.Pst("case.pst")
pst.parameter_data.loc[:,"parval1"] = some parameters
pst.control_data.noptmax = 0
pst.write("case.pst")

Then I noticed that in the file "case.obs_data.csv", name of observations and name of observation groups have become lowercase, which is not desirable in my case. Is there a way to force

[2022-02-14 16:37] jtwhite79 commented on #323
everything under the hood in pyemu is strictly lower case - there are too many opportunities for hardship with mixed case.  Even if the tpl and ins files have mixed case, when pyemu processes and handles them, the string compares are always with lower case.  Sorry - no easy way to get around that...a solution might be liberal use of `str.lower()` in your script!

[2022-02-14 17:30] ckikuchi opened #324 "Error reading .rnj with pyemu.utils.helpers.jco_from_pestpp_runstorage"
Hello,
I am doing a Jacobian run (NOPTMAX=-1) with pestpp-glm 5.1.6.
I would like to check the intermediate .rnj file, and used pyemu.utils.helpers.jco_from_pestpp_runstorage to read in the file, using Pyemu version 1.2.0. When I run the command, I get this message:

  File "C:\ProgramData\Anaconda3\lib\site-packages\pyemu\utils\helpers.py", line 1145, in jco_from_pestpp_runstorage
    "more than

[2022-02-15 14:35] BJEANNOT0 commented on #323
Thank you for you answer !
I adapted my script as you suggested.
Best regards,

[2022-02-28 22:39] Cecile-A-C commented on #198
Hello,

I have a related issue (but I can open a new issue if that's better!). I am copying a pest control file, reading it with pyemu.Pst and writing it again (to include some new modifications):
[code]
The control data section in the updated control file has been modified (many variables are now left out).
_'pestpp_old.pst'_:
![image](https://user-images.githubusercontent.com/59694240/156069637-

[2022-03-01 00:54] jtwhite79 commented on #198
Those optional args in the control data section are a pain!  I've got a fix for your issue testing now...

[2022-03-01 17:37] Cecile-A-C commented on #198
Great, thanks!

[2022-03-03 15:08] oscarfasanchez opened #329 "Pilot point location"
Hello!
I was wondering if there is a way to add a few pilot points manually when I use pyemu.utils.PstFrom-> add_parameters.
I'm using an structured irregular grid and I need a lot of cells close to a refined zone, but I don't need a lot of pilot points, so pilot point spacing is high(I'm avoiding a lot of parameters because I'm using pest_glm).
the problem is that sometimes there are no pilot poi

[2022-03-03 15:34] jtwhite79 commented on #329
The pilot point location routine is admittedly weak.  But you can pass `pp_space` as a shapefile or dataframe (either must have the at least the fields that pilot point file would have) so that you can have more control over the pilot point locations...

[2022-03-03 16:03] oscarfasanchez commented on #329
😁thanks for your answer !
I was looking for it, in the documentation.
https://pyemu.readthedocs.io/en/latest/autoapi/pyemu/utils/index.html?highlight=pyemu.utils.PstFrom.add_parameters#pyemu.utils.PstFrom.add_parameters
but I couldn't find it. is it outdated?, or shapefile/dataframe has to be set with other method?.
or should  i use the same ppspace as string with the pathfile?(instead int as is s

[2022-03-03 16:09] jtwhite79 commented on #329
Its in the docstring for `PstFrom.add_parameters()` so Im guessing we need to check into the RTD stuff again (ugh!).  basically you can pass `pp_space` as a shapefile or csv file name (the file extension is used) or as a dataframe if you already have the pilot point location information loaded up.  In any case, the info passed to `pp_space` must have the columns that a pilot point file would have

[2022-03-03 18:39] oscarfasanchez commented on #329
ok, thank you!!
is that options  available in pyemu 1.0? or i have to update to 1.2?

[2022-03-03 19:06] jtwhite79 commented on #329
I recommend using the latest develop branch version but if that is not an option, then you can check in the source: if you look in the `pyemu/utils/pst_from.py` source file and you see some details about using `pp_space` in the docstring of `PstFrom.add_parameters()` you should be good to go.  But please consider using the latest develop version!  Here is what the docstring says on develop:

[code

[2022-03-03 19:14] oscarfasanchez commented on #329
thankyou! I'll try to use the last version!

[2022-03-04 03:49] inwoo-park opened #331 "Error with adding new column in data frame"
Dear developers,

I got a error with operating "./examples/MODFLOW_to_PEST_even_more_boss.ipynb" as following.
My current version of `pandas` is 1.0.3. However, the problem occurs when the `DataFrame` appends new columns.

[code]

It seems that current pandas version >= 1.0.3 does not support following appending column method in current `DataFrame`. Therefore, I change this code as following:

[co

[2022-03-04 05:10] briochh commented on #331
Hi @inwoo-park,
It does seem to be an issue in pandas 1.0.3. However, in later version of pandas the assignment we are using works just fine. You a right that if we turn it into a DataFrame first then it is safe in 1.0.3. So something like:
[code]
works for older version of pandas (i.e 1.0.3). I am not sure where things changed.
The array assignment that we have at the moment is quicker than const

[2022-03-04 05:18] inwoo-park commented on #331
Hi, @briochh.

I upgrade `pandas (>=1.4.x)` and following script works:

[code]

The problem occurs with old `pandas (<=1.0.3)`.

Best regards,
Inwoo

[2022-03-04 18:17] jtwhite79 commented on #329
I know @briochh and I have been working a lot with `PstFrom`.  Can you describe the issues you are having?  The git history is probably the only record of changes that were made...

[2022-03-04 18:32] oscarfasanchez commented on #329
I've finally solved, pst.observation_data now has different names, playing a little with pandas was the solution.

[2022-03-08 03:13] inwoo-park opened #332 "How to build and get results of PESTPP script with "mfnwt" from flopy?"
Hi, developers.

I tried to use  `pyemu` for building `pest.pst` script with "mfnwt" package and `flopy`. First, I build the modflow model with flopy, and do not touch  scripts from flopy(*.nam, *.wel, *.obs). I look up how to build pest script, and find that `pstfrom_mf6.ipynb` in `examples` directory shows how to build pest script with `PstFrom` function. However, its seems that it only supports

[2022-03-09 14:27] mnfienen commented on #332
Hi @inwoo-park

To your first question, `PstFrom` is actually model-agnostic. It works on external lists and arrays. So, if you build a `mfnwt` model in `flopy` just make sure you set the `external_path` argument so that all arrays are external files. HEre's some background https://github.com/modflowpy/flopy/blob/develop/examples/Notebooks/flopy3_external_file_handling.ipynb

Once you do that, the

[2022-03-10 01:50] inwoo-park commented on #332
Hi, @mnfienen

First, I find that `flopy` support writing `open/close` with `.txt` file format data. I confirm that `pestpp-ies` can modify the result of `modflow` parameters, and estimate each parameter.

Second, I find that `NOPTMAX` means `number of optimization iterations`. When I set `NOPTMAX > 0`, `pestpp-ies` generate several iteration files.

[code]

Finally, when we I looked up the `*.par

[2022-03-12 10:08] inwoo-park commented on #332
Hi, @mnfienen

Thank you for your kind replies.

I generally parameterize the hydraulic conductivity (hk), specific storage (ss), and constant head boundary value (CHD package in MODFLOW-package) with `multipliers`. The last esimated parameters from `{last}.par.csv` are as following:

[code]

However, I do not understand a meanings that

In `{last}.par.csv`, I figure out meanings of each parameter

[2022-03-12 14:25] mnfienen commented on #332
Hi @inwoo-park - apologies, I was assuming you were confused about the use of multipliers, but clearly you understand that. So, the `base` realization is a special realization the `pestpp-ies` runs using all the starting values in the `parval1` column of the control file rather than a sampled ensemble. It's provided in case you are interested in a single realization that approximates the least-var

[2022-03-12 14:25] #332 closed

[2022-03-12 21:01] wkitlasten commented on #332
Hey @inwoo-park, to add a little detail to @mnfienen 's comment, just in case it wasn't entirely clear: if you update parval1 in the pest control file with the final "base" parameter vector (minimum variance solution), then run pest with noptmax = 0 all the mfnwt files should be generated with the "actual values" such as K, Ss, etc. if using pandas and pyemu something like:

par.loc[:,'parval1'] =

[2022-03-20 09:04] wkitlasten opened #333 "Broken pipe"
This is happening with an absurdly large model. But it doesn't seem like a straightforward memory error. Any suggestions? Know any plumbers?

2022-03-20 20:18:49.067189 finished: setting up pilot point parameters took: 0:05:40.160648
2022-03-20 20:20:45.115362 starting: calculating factors for pargp=ghb_pp
2022-03-20 20:20:45.115362 saving krige variance file:d:\modelling\national\si_2_s4_500_temp

[2022-03-20 10:05] briochh commented on #333
@wkitlasten looks to me like a likely memory issue. I suspect that when the datasets that are pickled up for running on the multi-process (per processor on windows) the memory explodes. Perhaps we need to look at limiting processors more or offloading to disk but both will slow down the interp...

[2022-03-20 18:52] wkitlasten commented on #333
Or perhaps just limiting use to sane models. Thanks!

[2022-03-20 18:55] #333 closed

[2022-03-25 22:48] oscarfasanchez opened #334 "restart of an interrupted PEST++-glm run"
in the pest++ documentation talks a little bit about it, how can be done this in pyemu?
is there any documentation to do it?
I need to restart a glm run, because my pc shut down
thanks in Advance

[2022-03-26 23:16] jtwhite79 commented on #334
@oscarfasanchez this is tricky stuff.  In theory pestpp-glm has an automated restart that just needs the binary run storage file (.rnj or .rns). But it's in some neglect - it's complicated business.  Have you tried to restart this way?  I'd make a backup of your master dir before trying to restart...

  Where was the alg when power was lost?  If a jacobian had been filled, then you can supply that

[2022-03-27 17:08] oscarfasanchez commented on #334
thanks for your answer @jtwhite79
I haven't tried to restart with automated restart, because  I don't know how to do it😅. I have those files.
![image](https://user-images.githubusercontent.com/39230212/160291078-86c9a8d8-093f-450b-b65b-5b18e3401d89.png)

 in pest++ docs 6.2.12 says:
[a prematurely terminated PESTPP-GLM run can be restarted by commencing PESTPP-GLM execution using the “/r” command

[2022-03-27 19:19] jtwhite79 commented on #334
ok in this case, looks like things were interrupted during the iteration 1 upgrade process, so all you need to do is copy the "model_pest.jco" file to a new name for safe keeping, lets say "org.jco", then supply the `base_jacobian` arg with "org.jco" which tells pestpp-glm to just use this jco, run the model once to get current residuals, then start upgrade calculations.

[2022-03-27 22:34] oscarfasanchez commented on #334
🤔indeed it is
OPTIMISATION ITERATION NUMBER: 2                 (it starts with 1)
but
starting FOSM uncertainty analyses for iteration 1((it starts with 0)

for some reason they have different enumeration in the rec file🤷‍♂️( i'm using pestpp-5.1.1)

assuming it was optimisation iteration 1 it would be something like:

pst = pyemu.Pst(os.path.join(m_d,"{}.pst".format(case)))

#supply the base_jaco

[2022-03-28 02:28] jtwhite79 commented on #334
I think things are getting tricky here between what pestpp-glm is doing vs what pyemu is doing.  You are right about setting the `base_jacobian` arg.  Looking at your directory, seems like glm got interrupted during the first iteration upgrade calculation and testing.  So that means the jco was calculated at the initial parameter estimates  so everything between the jco and ctl file should be in h

[2022-03-29 02:11] lechambre44 opened #335 "Mixing multiplier / addition pars"
Issue found when mixing multiplier and addition style pars on ghb boundary condition.
![pyemu_issue](https://user-images.githubusercontent.com/80859930/160518590-5f520cf0-f810-498b-8bc2-25e498281ebd.JPG)

[2022-03-29 02:18] briochh commented on #335
Thanks @lechambre44, It looks like we are probably blindly assuming that the "style" of parameter will be consistent for a given parameter but it is (too) easy to mix operator types. At the very least I think we need to catch this and return an error to the user. If we want to support this use case (and I can think of times when we might) then we would need to establish an "order of operation". I

[2022-03-29 04:01] jtwhite79 commented on #335
@briochh I think it would pretty cool to mix additive and multiplier pars.  I was looking at the apply function and even tho it should mechanically work I think we do need to enforce order of operations.

@lechambre44 - what error did you get?  Can you post the traceback?

[2022-04-01 07:40] BJEANNOT0 opened #336 "Showing predictions by PESTPP-IES as an enveloppe"
Hello,

I made a PESTPP-IES run. Now I would like to draw a chart for observations vs simulations. However, because pestpp-ies is an ensemble method, I think the most interesting chart to make is to represent pestp-ies results as an enveloppe (i.e.not by just a single line, but by a polygon with a min line, a center line and a max line. The distance between the center line and the extremes could b

[2022-04-01 07:41] #311 closed

[2022-04-01 14:08] mnfienen commented on #336
HI @BJEANNOT0  -

You can use this function as a starting point:
`pyemu.plot_utils.ensemble_res_1to1()`
Hope that helps!

[2022-04-01 14:08] #336 closed

[2022-04-01 14:38] jtwhite79 commented on #336
just adding to @mnfienen - there is also an `pyemu.plot_utils.ensemble_helper` that you can multiple ensembles (or files containing them) and also pass `deter_vals` as the "obsval" values - this will get you histograms for the ensemble(s) and a solid vertical line for the obsval for each observation in the control file.  But if you want timeseries plots of observed vs simulated, you'll have to rol

[2022-04-18 05:32] scchhh3 opened #337 "Can this module perform parametric sensitivity analysis?"

[2022-04-19 15:20] jtwhite79 commented on #337
no

[2022-04-19 15:20] jtwhite79 opened #338 "trap for <= 0 and log transform with direct pars"

[2022-04-20 10:27] BJEANNOT0 opened #339 "How do i remove a pestpp option in the pest control file ?"
Hello,

in py pest control file, i would like to delete the keyword "ies_localizer", so that pestpp uses the default setting for this keyword.
Could you please tell me how I would do that ?
Here is some sample code about my issue :

case = "case"
pst = pyemu.Pst(case+".pst")
!the following line does not work and needs to be adapted but I do not know how
pst.pestpp_options.drop["ies_localizer"]
pst

[2022-04-20 14:10] jtwhite79 commented on #339
The `.pestpp_options` is just a standard dict so you can use `.pop`:

`pst.pestpp_options.pop("ies_localizer")`

[2022-04-20 14:13] jtwhite79 commented on #198
Ugh!  This control data stuff is rough.  I'll take a look...

[2022-04-20 14:16] #339 closed

[2022-04-26 08:51] xiangyi-wang opened #342 "PEST website is broken？"
https://pesthomepage.org/  This address inaccessible

[2022-04-26 12:28] mnfienen commented on #342
Hi @xiangyi-wang  - perhaps you are having an issue with a VPN? I just clicked the link and it is live from my coputer.

[2022-04-26 15:03] #329 closed

[2022-04-26 15:10] jtwhite79 commented on #334
@oscarfasanchez Im gonna close this issue - feel free to reopen if there is more to discuss

[2022-04-26 15:11] #337 closed

[2022-04-26 15:11] #334 closed

[2022-04-26 15:11] #280 closed

[2022-04-26 15:12] #300 closed

[2022-04-26 15:40] mnfienen commented on #164
@jtwhite79  nope lol. I can try and revisit though!

[2022-04-27 01:19] xiangyi-wang commented on #342
Thinks  @mnfienen.  It's all right now

[2022-04-27 01:19] #342 closed

[2022-04-27 13:09] mnfienen commented on #342
great!

[2022-05-06 02:37] Cecile-A-C commented on #198
Hi again! Sorry, I found another issue with the control data section... It's still when I use pyemu.Pst.from_io_files():
[code]
This is the header that is generated:
![image](https://user-images.githubusercontent.com/59694240/167057414-fe42da72-43ab-402c-9d33-8e7e148856df.png)
And now PESTCHEK gives me a new error:
![image](https://user-images.githubusercontent.com/59694240/167057447-fabfce06-4493

[2022-05-12 03:22] oscarfasanchez commented on #334
hello @jtwhite79  , I'm back!
I tried to restart my GLM run  using this tiny script(I have not tried it with workers yet)

import pyemu
import os
case="model_pest"
exe_p_name=r"C:\WRDAPP\bin\pestpp-glm"
cwd="template"
pyemu.os_utils.run(exe_p_name + f" {case} /r :4004", cwd=cwd)

but I got this error:

runfile('E:/Thesis_Runs/restart.py', wdir='E:/Thesis_Runs')
Traceback (most recent call last):